Web References/kCura.EDDS.WebAPI.DocumentManagerBase/DocumentManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://foley.com/EDDS/DocumentManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/DocumentManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/DocumentManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAllDocumentsForCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDocumentsForCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDocumentsForCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewFileDTO">
        <s:complexType />
      </s:element>
      <s:element name="NewFileDTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewFileDTOResult" type="tns:File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rotation" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Redactions" type="tns:ArrayOfRedaction" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRedaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Redaction" nillable="true" type="tns:Redaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Redaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MarkupSetArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEmptyDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentFolderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifierValue" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="identifierColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullTextBuilder" type="tns:FullTextBuilderDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FullTextBuilderDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FilePointer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullText" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Pages" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEmptyDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEmptyDocumentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldArtifactIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Document">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfField" />
              <s:element minOccurs="0" maxOccurs="1" name="DocumentAgentFlags" type="tns:DocumentAgentFlags" />
              <s:element minOccurs="1" maxOccurs="1" name="HasImages" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HasNative" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HasProducedImages" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="NativeGUID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FieldArtifactTypeID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="tns:FieldType" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategoryID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategory" type="tns:FieldCategory" />
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactViewFieldID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="MaxLength">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemovable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsArtifactBaseField" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsReadOnlyInLayout" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FilterType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldDisplayTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLinked" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RepeatColumn">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="AssociativeArtifactTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableToAssociativeObjects" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableInChoiceTree" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableForRightClickTagging" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGroupByEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsIndexEnabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueTrue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueFalse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Wrapping" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkLayoutArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NameValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkType" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseUnicodeEncoding" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowHtml" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSortable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FriendlyName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RelationalIndexViewArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Associative" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="ReservedRenameToUse" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentAgentFlags">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UpdateFullText" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IndexStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="docDTO" type="tns:Document" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="docDTO" type="tns:Document" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFullTextToDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fullTextBuilder" type="tns:FullTextBuilderDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFullTextToDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFullTextToDocumentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromIdentifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromIdentifierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentArtifactIDFromIdentifierResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromFieldValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromFieldValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentArtifactIDFromFieldValueResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFromIdentifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldArtifactIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFromIdentifierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFromIdentifierResult" type="tns:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFromIdentifierWithFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldArtifactIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FullDocumentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocumentDTO" type="tns:Document" />
          <s:element minOccurs="0" maxOccurs="1" name="FileList" type="tns:ArrayOfFile" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadFromIdentifierWithFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFromIdentifierWithFileListResult" type="tns:FullDocumentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearImagesFromDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearImagesFromDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDocumentDirectoryByCaseArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentDirectoryByCaseArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentDirectoryByCaseArtifactIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrintImageGuids">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderedProductionIDList" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s2:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrintImageGuidsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrintImageGuidsResult" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllHaveOriginalImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="artifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllHaveOriginalImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AllHaveOriginalImagesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdentifierFromDocumentArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdentifierFromDocumentArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIdentifierFromDocumentArtifactIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllUnsupportedOiFileIds">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAllUnsupportedOiFileIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllUnsupportedOiFileIdsResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadAsNameValueCollectionFromLayoutArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="layoutArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="utcOffset" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="locale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NameValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNameValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NameValuePair" nillable="true" type="tns:NameValuePair" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadAsNameValueCollectionFromLayoutArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadAsNameValueCollectionFromLayoutArtifactIDResult" type="tns:ArrayOfNameValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllDocumentsForCaseSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDocumentsForCase" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentsForCaseSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDocumentsForCaseResponse" />
  </wsdl:message>
  <wsdl:message name="NewFileDTOSoapIn">
    <wsdl:part name="parameters" element="tns:NewFileDTO" />
  </wsdl:message>
  <wsdl:message name="NewFileDTOSoapOut">
    <wsdl:part name="parameters" element="tns:NewFileDTOResponse" />
  </wsdl:message>
  <wsdl:message name="CreateEmptyDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateEmptyDocument" />
  </wsdl:message>
  <wsdl:message name="CreateEmptyDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateEmptyDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="AddFullTextToDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:AddFullTextToDocument" />
  </wsdl:message>
  <wsdl:message name="AddFullTextToDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:AddFullTextToDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentArtifactIDFromIdentifierSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentArtifactIDFromIdentifier" />
  </wsdl:message>
  <wsdl:message name="GetDocumentArtifactIDFromIdentifierSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentArtifactIDFromIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentArtifactIDFromFieldValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentArtifactIDFromFieldValue" />
  </wsdl:message>
  <wsdl:message name="GetDocumentArtifactIDFromFieldValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentArtifactIDFromFieldValueResponse" />
  </wsdl:message>
  <wsdl:message name="ReadFromIdentifierSoapIn">
    <wsdl:part name="parameters" element="tns:ReadFromIdentifier" />
  </wsdl:message>
  <wsdl:message name="ReadFromIdentifierSoapOut">
    <wsdl:part name="parameters" element="tns:ReadFromIdentifierResponse" />
  </wsdl:message>
  <wsdl:message name="ReadFromIdentifierWithFileListSoapIn">
    <wsdl:part name="parameters" element="tns:ReadFromIdentifierWithFileList" />
  </wsdl:message>
  <wsdl:message name="ReadFromIdentifierWithFileListSoapOut">
    <wsdl:part name="parameters" element="tns:ReadFromIdentifierWithFileListResponse" />
  </wsdl:message>
  <wsdl:message name="ClearImagesFromDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ClearImagesFromDocument" />
  </wsdl:message>
  <wsdl:message name="ClearImagesFromDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ClearImagesFromDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectoryByCaseArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentDirectoryByCaseArtifactID" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectoryByCaseArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentDirectoryByCaseArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrintImageGuidsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrintImageGuids" />
  </wsdl:message>
  <wsdl:message name="GetPrintImageGuidsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrintImageGuidsResponse" />
  </wsdl:message>
  <wsdl:message name="AllHaveOriginalImagesSoapIn">
    <wsdl:part name="parameters" element="tns:AllHaveOriginalImages" />
  </wsdl:message>
  <wsdl:message name="AllHaveOriginalImagesSoapOut">
    <wsdl:part name="parameters" element="tns:AllHaveOriginalImagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdentifierFromDocumentArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetIdentifierFromDocumentArtifactID" />
  </wsdl:message>
  <wsdl:message name="GetIdentifierFromDocumentArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetIdentifierFromDocumentArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUnsupportedOiFileIdsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllUnsupportedOiFileIds" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUnsupportedOiFileIdsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllUnsupportedOiFileIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAsNameValueCollectionFromLayoutArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadAsNameValueCollectionFromLayoutArtifactID" />
  </wsdl:message>
  <wsdl:message name="ReadAsNameValueCollectionFromLayoutArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadAsNameValueCollectionFromLayoutArtifactIDResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentManagerSoap">
    <wsdl:operation name="GetAllDocumentsForCase">
      <wsdl:input message="tns:GetAllDocumentsForCaseSoapIn" />
      <wsdl:output message="tns:GetAllDocumentsForCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewFileDTO">
      <wsdl:input message="tns:NewFileDTOSoapIn" />
      <wsdl:output message="tns:NewFileDTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmptyDocument">
      <wsdl:input message="tns:CreateEmptyDocumentSoapIn" />
      <wsdl:output message="tns:CreateEmptyDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFullTextToDocument">
      <wsdl:input message="tns:AddFullTextToDocumentSoapIn" />
      <wsdl:output message="tns:AddFullTextToDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentArtifactIDFromIdentifier">
      <wsdl:input message="tns:GetDocumentArtifactIDFromIdentifierSoapIn" />
      <wsdl:output message="tns:GetDocumentArtifactIDFromIdentifierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentArtifactIDFromFieldValue">
      <wsdl:input message="tns:GetDocumentArtifactIDFromFieldValueSoapIn" />
      <wsdl:output message="tns:GetDocumentArtifactIDFromFieldValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadFromIdentifier">
      <wsdl:input message="tns:ReadFromIdentifierSoapIn" />
      <wsdl:output message="tns:ReadFromIdentifierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadFromIdentifierWithFileList">
      <wsdl:input message="tns:ReadFromIdentifierWithFileListSoapIn" />
      <wsdl:output message="tns:ReadFromIdentifierWithFileListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearImagesFromDocument">
      <wsdl:input message="tns:ClearImagesFromDocumentSoapIn" />
      <wsdl:output message="tns:ClearImagesFromDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirectoryByCaseArtifactID">
      <wsdl:input message="tns:GetDocumentDirectoryByCaseArtifactIDSoapIn" />
      <wsdl:output message="tns:GetDocumentDirectoryByCaseArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintImageGuids">
      <wsdl:input message="tns:GetPrintImageGuidsSoapIn" />
      <wsdl:output message="tns:GetPrintImageGuidsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllHaveOriginalImages">
      <wsdl:input message="tns:AllHaveOriginalImagesSoapIn" />
      <wsdl:output message="tns:AllHaveOriginalImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentifierFromDocumentArtifactID">
      <wsdl:input message="tns:GetIdentifierFromDocumentArtifactIDSoapIn" />
      <wsdl:output message="tns:GetIdentifierFromDocumentArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllUnsupportedOiFileIds">
      <wsdl:input message="tns:RetrieveAllUnsupportedOiFileIdsSoapIn" />
      <wsdl:output message="tns:RetrieveAllUnsupportedOiFileIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadAsNameValueCollectionFromLayoutArtifactID">
      <wsdl:input message="tns:ReadAsNameValueCollectionFromLayoutArtifactIDSoapIn" />
      <wsdl:output message="tns:ReadAsNameValueCollectionFromLayoutArtifactIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentManagerSoap" type="tns:DocumentManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetAllDocumentsForCase">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetAllDocumentsForCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewFileDTO">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/NewFileDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmptyDocument">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/CreateEmptyDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFullTextToDocument">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/AddFullTextToDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentArtifactIDFromIdentifier">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetDocumentArtifactIDFromIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentArtifactIDFromFieldValue">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetDocumentArtifactIDFromFieldValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFromIdentifier">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ReadFromIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFromIdentifierWithFileList">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ReadFromIdentifierWithFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearImagesFromDocument">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ClearImagesFromDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirectoryByCaseArtifactID">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetDocumentDirectoryByCaseArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintImageGuids">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetPrintImageGuids" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllHaveOriginalImages">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/AllHaveOriginalImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdentifierFromDocumentArtifactID">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetIdentifierFromDocumentArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllUnsupportedOiFileIds">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/RetrieveAllUnsupportedOiFileIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAsNameValueCollectionFromLayoutArtifactID">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ReadAsNameValueCollectionFromLayoutArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentManager">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="DocumentManagerSoap" binding="tns:DocumentManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/DocumentManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>