Web References/kCura.EDDS.WebAPI.DocumentManagerBase/DocumentManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://foley.com/EDDS/DocumentManager" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/DocumentManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/DocumentManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAllDocumentsForCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDocumentsForCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDocumentsForCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewFileDTO">
        <s:complexType />
      </s:element>
      <s:element name="NewFileDTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewFileDTOResult" type="s0:File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rotation" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Redactions" type="s0:ArrayOfRedaction" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRedaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Redaction" nillable="true" type="s0:Redaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Redaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MarkupSetArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEmptyDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentFolderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifierValue" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="identifierColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullTextBuilder" type="s0:FullTextBuilderDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FullTextBuilderDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FilePointer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullText" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Pages" type="s0:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateEmptyDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateEmptyDocumentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldArtifactIds" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="s0:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Document">
        <s:complexContent mixed="false">
          <s:extension base="s0:Artifact">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Fields" type="s0:ArrayOfField" />
              <s:element minOccurs="0" maxOccurs="1" name="DocumentAgentFlags" type="s0:DocumentAgentFlags" />
              <s:element minOccurs="1" maxOccurs="1" name="HasImages" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HasNative" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HasProducedImages" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HasTranscript" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="NativeGUID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TranscriptGuid" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="s0:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FieldArtifactTypeID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="s0:FieldType" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategoryID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategory" type="s0:FieldCategory" />
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactViewFieldID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="MaxLength">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemovable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsArtifactBaseField" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsReadOnlyInLayout" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FilterType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldDisplayTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLinked" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RepeatColumn">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="AssociativeArtifactTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableToAssociativeObjects" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableInChoiceTree" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGroupByEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsIndexEnabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueTrue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueFalse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Wrapping" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkLayoutArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NameValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkType" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseUnicodeEncoding" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowHtml" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSortable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FriendlyName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RelationalIndexViewArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
          <s:enumeration value="Objects" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Reflected" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="FileSize" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
          <s:enumeration value="MultiReflected" />
          <s:enumeration value="Batch" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="s0:Field" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentAgentFlags">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UpdateFullText" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IndexStatus" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="docDTO" type="s0:Document" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="s0:ArrayOfFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="s0:File" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="docDTO" type="s0:Document" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="s0:ArrayOfFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFullTextToDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fullTextBuilder" type="s0:FullTextBuilderDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFullTextToDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddFullTextToDocumentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromIdentifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromIdentifierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentArtifactIDFromIdentifierResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromFieldValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentArtifactIDFromFieldValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentArtifactIDFromFieldValueResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFromIdentifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldArtifactIds" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFromIdentifierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFromIdentifierResult" type="s0:Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFromIdentifierWithFileList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDisplayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldArtifactIds" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FullDocumentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocumentDTO" type="s0:Document" />
          <s:element minOccurs="0" maxOccurs="1" name="FileList" type="s0:ArrayOfFile" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadFromIdentifierWithFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFromIdentifierWithFileListResult" type="s0:FullDocumentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearImagesFromDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearImagesFromDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDocumentDirectoryByCaseArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentDirectoryByCaseArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentDirectoryByCaseArtifactIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrintImageGuids">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="orderedProductionIDList" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s2:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrintImageGuidsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrintImageGuidsResult" type="s0:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllHaveOriginalImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="artifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllHaveOriginalImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AllHaveOriginalImagesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdentifierFromDocumentArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIdentifierFromDocumentArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIdentifierFromDocumentArtifactIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllUnsupportedOiFileIds">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAllUnsupportedOiFileIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllUnsupportedOiFileIdsResult" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadAsNameValueCollectionFromLayoutArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="layoutArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="utcOffset" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="locale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NameValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNameValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NameValuePair" nillable="true" type="s0:NameValuePair" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadAsNameValueCollectionFromLayoutArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadAsNameValueCollectionFromLayoutArtifactIDResult" type="s0:ArrayOfNameValuePair" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="GetAllDocumentsForCaseSoapIn">
    <part name="parameters" element="s0:GetAllDocumentsForCase" />
  </message>
  <message name="GetAllDocumentsForCaseSoapOut">
    <part name="parameters" element="s0:GetAllDocumentsForCaseResponse" />
  </message>
  <message name="NewFileDTOSoapIn">
    <part name="parameters" element="s0:NewFileDTO" />
  </message>
  <message name="NewFileDTOSoapOut">
    <part name="parameters" element="s0:NewFileDTOResponse" />
  </message>
  <message name="CreateEmptyDocumentSoapIn">
    <part name="parameters" element="s0:CreateEmptyDocument" />
  </message>
  <message name="CreateEmptyDocumentSoapOut">
    <part name="parameters" element="s0:CreateEmptyDocumentResponse" />
  </message>
  <message name="ReadSoapIn">
    <part name="parameters" element="s0:Read" />
  </message>
  <message name="ReadSoapOut">
    <part name="parameters" element="s0:ReadResponse" />
  </message>
  <message name="CreateSoapIn">
    <part name="parameters" element="s0:Create" />
  </message>
  <message name="CreateSoapOut">
    <part name="parameters" element="s0:CreateResponse" />
  </message>
  <message name="UpdateSoapIn">
    <part name="parameters" element="s0:Update" />
  </message>
  <message name="UpdateSoapOut">
    <part name="parameters" element="s0:UpdateResponse" />
  </message>
  <message name="AddFullTextToDocumentSoapIn">
    <part name="parameters" element="s0:AddFullTextToDocument" />
  </message>
  <message name="AddFullTextToDocumentSoapOut">
    <part name="parameters" element="s0:AddFullTextToDocumentResponse" />
  </message>
  <message name="GetDocumentArtifactIDFromIdentifierSoapIn">
    <part name="parameters" element="s0:GetDocumentArtifactIDFromIdentifier" />
  </message>
  <message name="GetDocumentArtifactIDFromIdentifierSoapOut">
    <part name="parameters" element="s0:GetDocumentArtifactIDFromIdentifierResponse" />
  </message>
  <message name="GetDocumentArtifactIDFromFieldValueSoapIn">
    <part name="parameters" element="s0:GetDocumentArtifactIDFromFieldValue" />
  </message>
  <message name="GetDocumentArtifactIDFromFieldValueSoapOut">
    <part name="parameters" element="s0:GetDocumentArtifactIDFromFieldValueResponse" />
  </message>
  <message name="ReadFromIdentifierSoapIn">
    <part name="parameters" element="s0:ReadFromIdentifier" />
  </message>
  <message name="ReadFromIdentifierSoapOut">
    <part name="parameters" element="s0:ReadFromIdentifierResponse" />
  </message>
  <message name="ReadFromIdentifierWithFileListSoapIn">
    <part name="parameters" element="s0:ReadFromIdentifierWithFileList" />
  </message>
  <message name="ReadFromIdentifierWithFileListSoapOut">
    <part name="parameters" element="s0:ReadFromIdentifierWithFileListResponse" />
  </message>
  <message name="ClearImagesFromDocumentSoapIn">
    <part name="parameters" element="s0:ClearImagesFromDocument" />
  </message>
  <message name="ClearImagesFromDocumentSoapOut">
    <part name="parameters" element="s0:ClearImagesFromDocumentResponse" />
  </message>
  <message name="GetDocumentDirectoryByCaseArtifactIDSoapIn">
    <part name="parameters" element="s0:GetDocumentDirectoryByCaseArtifactID" />
  </message>
  <message name="GetDocumentDirectoryByCaseArtifactIDSoapOut">
    <part name="parameters" element="s0:GetDocumentDirectoryByCaseArtifactIDResponse" />
  </message>
  <message name="GetPrintImageGuidsSoapIn">
    <part name="parameters" element="s0:GetPrintImageGuids" />
  </message>
  <message name="GetPrintImageGuidsSoapOut">
    <part name="parameters" element="s0:GetPrintImageGuidsResponse" />
  </message>
  <message name="AllHaveOriginalImagesSoapIn">
    <part name="parameters" element="s0:AllHaveOriginalImages" />
  </message>
  <message name="AllHaveOriginalImagesSoapOut">
    <part name="parameters" element="s0:AllHaveOriginalImagesResponse" />
  </message>
  <message name="GetIdentifierFromDocumentArtifactIDSoapIn">
    <part name="parameters" element="s0:GetIdentifierFromDocumentArtifactID" />
  </message>
  <message name="GetIdentifierFromDocumentArtifactIDSoapOut">
    <part name="parameters" element="s0:GetIdentifierFromDocumentArtifactIDResponse" />
  </message>
  <message name="RetrieveAllUnsupportedOiFileIdsSoapIn">
    <part name="parameters" element="s0:RetrieveAllUnsupportedOiFileIds" />
  </message>
  <message name="RetrieveAllUnsupportedOiFileIdsSoapOut">
    <part name="parameters" element="s0:RetrieveAllUnsupportedOiFileIdsResponse" />
  </message>
  <message name="ReadAsNameValueCollectionFromLayoutArtifactIDSoapIn">
    <part name="parameters" element="s0:ReadAsNameValueCollectionFromLayoutArtifactID" />
  </message>
  <message name="ReadAsNameValueCollectionFromLayoutArtifactIDSoapOut">
    <part name="parameters" element="s0:ReadAsNameValueCollectionFromLayoutArtifactIDResponse" />
  </message>
  <portType name="DocumentManagerSoap">
    <operation name="GetAllDocumentsForCase">
      <input message="s0:GetAllDocumentsForCaseSoapIn" />
      <output message="s0:GetAllDocumentsForCaseSoapOut" />
    </operation>
    <operation name="NewFileDTO">
      <input message="s0:NewFileDTOSoapIn" />
      <output message="s0:NewFileDTOSoapOut" />
    </operation>
    <operation name="CreateEmptyDocument">
      <input message="s0:CreateEmptyDocumentSoapIn" />
      <output message="s0:CreateEmptyDocumentSoapOut" />
    </operation>
    <operation name="Read">
      <input message="s0:ReadSoapIn" />
      <output message="s0:ReadSoapOut" />
    </operation>
    <operation name="Create">
      <input message="s0:CreateSoapIn" />
      <output message="s0:CreateSoapOut" />
    </operation>
    <operation name="Update">
      <input message="s0:UpdateSoapIn" />
      <output message="s0:UpdateSoapOut" />
    </operation>
    <operation name="AddFullTextToDocument">
      <input message="s0:AddFullTextToDocumentSoapIn" />
      <output message="s0:AddFullTextToDocumentSoapOut" />
    </operation>
    <operation name="GetDocumentArtifactIDFromIdentifier">
      <input message="s0:GetDocumentArtifactIDFromIdentifierSoapIn" />
      <output message="s0:GetDocumentArtifactIDFromIdentifierSoapOut" />
    </operation>
    <operation name="GetDocumentArtifactIDFromFieldValue">
      <input message="s0:GetDocumentArtifactIDFromFieldValueSoapIn" />
      <output message="s0:GetDocumentArtifactIDFromFieldValueSoapOut" />
    </operation>
    <operation name="ReadFromIdentifier">
      <input message="s0:ReadFromIdentifierSoapIn" />
      <output message="s0:ReadFromIdentifierSoapOut" />
    </operation>
    <operation name="ReadFromIdentifierWithFileList">
      <input message="s0:ReadFromIdentifierWithFileListSoapIn" />
      <output message="s0:ReadFromIdentifierWithFileListSoapOut" />
    </operation>
    <operation name="ClearImagesFromDocument">
      <input message="s0:ClearImagesFromDocumentSoapIn" />
      <output message="s0:ClearImagesFromDocumentSoapOut" />
    </operation>
    <operation name="GetDocumentDirectoryByCaseArtifactID">
      <input message="s0:GetDocumentDirectoryByCaseArtifactIDSoapIn" />
      <output message="s0:GetDocumentDirectoryByCaseArtifactIDSoapOut" />
    </operation>
    <operation name="GetPrintImageGuids">
      <input message="s0:GetPrintImageGuidsSoapIn" />
      <output message="s0:GetPrintImageGuidsSoapOut" />
    </operation>
    <operation name="AllHaveOriginalImages">
      <input message="s0:AllHaveOriginalImagesSoapIn" />
      <output message="s0:AllHaveOriginalImagesSoapOut" />
    </operation>
    <operation name="GetIdentifierFromDocumentArtifactID">
      <input message="s0:GetIdentifierFromDocumentArtifactIDSoapIn" />
      <output message="s0:GetIdentifierFromDocumentArtifactIDSoapOut" />
    </operation>
    <operation name="RetrieveAllUnsupportedOiFileIds">
      <input message="s0:RetrieveAllUnsupportedOiFileIdsSoapIn" />
      <output message="s0:RetrieveAllUnsupportedOiFileIdsSoapOut" />
    </operation>
    <operation name="ReadAsNameValueCollectionFromLayoutArtifactID">
      <input message="s0:ReadAsNameValueCollectionFromLayoutArtifactIDSoapIn" />
      <output message="s0:ReadAsNameValueCollectionFromLayoutArtifactIDSoapOut" />
    </operation>
  </portType>
  <binding name="DocumentManagerSoap" type="s0:DocumentManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAllDocumentsForCase">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetAllDocumentsForCase" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NewFileDTO">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/NewFileDTO" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateEmptyDocument">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/CreateEmptyDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Read">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/Read" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/Create" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Update">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/Update" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddFullTextToDocument">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/AddFullTextToDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDocumentArtifactIDFromIdentifier">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetDocumentArtifactIDFromIdentifier" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDocumentArtifactIDFromFieldValue">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetDocumentArtifactIDFromFieldValue" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadFromIdentifier">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ReadFromIdentifier" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadFromIdentifierWithFileList">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ReadFromIdentifierWithFileList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ClearImagesFromDocument">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ClearImagesFromDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDocumentDirectoryByCaseArtifactID">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetDocumentDirectoryByCaseArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPrintImageGuids">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetPrintImageGuids" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AllHaveOriginalImages">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/AllHaveOriginalImages" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetIdentifierFromDocumentArtifactID">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/GetIdentifierFromDocumentArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveAllUnsupportedOiFileIds">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/RetrieveAllUnsupportedOiFileIds" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadAsNameValueCollectionFromLayoutArtifactID">
      <soap:operation soapAction="http://foley.com/EDDS/DocumentManager/ReadAsNameValueCollectionFromLayoutArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DocumentManager">
    <port name="DocumentManagerSoap" binding="s0:DocumentManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/DocumentManager.asmx" />
    </port>
  </service>
</definitions>