Web References/kCura.EDDS.WebAPI.FieldManagerBase/FieldManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://foley.com/EDDS/FieldManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/FieldManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/FieldManager">
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDTO" type="s0:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="s0:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FieldArtifactTypeID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="s0:FieldType" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategoryID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategory" type="s0:FieldCategory" />
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactViewFieldID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="MaxLength">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemovable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsArtifactBaseField" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsReadOnlyInLayout" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FilterType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldDisplayTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLinked" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RepeatColumn">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="AssociativeArtifactTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableToAssociativeObjects" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGroupByEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsIndexEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsConceptualEnabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueTrue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueFalse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Wrapping" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PropogateValueToAllDuplicates" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PropogateValueToEntireGroup" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkLayoutArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NameValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkType" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseUnicodeEncoding" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseHtmlEncoding" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Associative" />
          <s:enumeration value="Comments" />
          <s:enumeration value="GroupIdentifier" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="DuplicateHash" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fieldArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="s0:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
  </types>
  <message name="CreateSoapIn">
    <part name="parameters" element="s0:Create" />
  </message>
  <message name="CreateSoapOut">
    <part name="parameters" element="s0:CreateResponse" />
  </message>
  <message name="ReadSoapIn">
    <part name="parameters" element="s0:Read" />
  </message>
  <message name="ReadSoapOut">
    <part name="parameters" element="s0:ReadResponse" />
  </message>
  <portType name="FieldManagerSoap">
    <operation name="Create">
      <input message="s0:CreateSoapIn" />
      <output message="s0:CreateSoapOut" />
    </operation>
    <operation name="Read">
      <input message="s0:ReadSoapIn" />
      <output message="s0:ReadSoapOut" />
    </operation>
  </portType>
  <binding name="FieldManagerSoap" type="s0:FieldManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/FieldManager/Create" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Read">
      <soap:operation soapAction="http://foley.com/EDDS/FieldManager/Read" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FieldManager">
    <port name="FieldManagerSoap" binding="s0:FieldManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/FieldManager.asmx" />
    </port>
  </service>
</definitions>