Web References/kCura.EDDS.WebAPI.FieldManagerBase/FieldManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://foley.com/EDDS/FieldManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/FieldManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/FieldManager">
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDTO" type="tns:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FieldArtifactTypeID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="tns:FieldType" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategoryID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategory" type="tns:FieldCategory" />
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactViewFieldID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="MaxLength">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemovable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsArtifactBaseField" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsReadOnlyInLayout" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FilterType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldDisplayTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLinked" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RepeatColumn">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="AssociativeArtifactTypeID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableToAssociativeObjects" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableInChoiceTree" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableForRightClickTagging" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGroupByEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsIndexEnabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueTrue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueFalse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Wrapping" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkLayoutArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NameValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkType" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseUnicodeEncoding" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowHtml" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSortable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FriendlyName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RelationalIndexViewArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Associative" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="FileSize" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fieldArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:portType name="FieldManagerSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FieldManagerSoap" type="tns:FieldManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/FieldManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://foley.com/EDDS/FieldManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FieldManager">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="FieldManagerSoap" binding="tns:FieldManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/FieldManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>