Web References/kCura.EDDS.WebAPI.UserManagerBase/UserManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/UserManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/UserManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/UserManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="UpdateImageViewerDefaultViewMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defaultViewMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImageViewerDefaultViewModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateOIXDocumentMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOIXDocumentModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSelectedMarkupSetArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="selectedMarkupSetArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSelectedMarkupSetArtifactIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDefaultRedactionText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDefaultRedactionTextResponse">
        <s:complexType />
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithAuthenticationToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginWithAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GenerateAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllAssignableInCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllAssignableInCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllAssignableInCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="UpdateImageViewerDefaultViewModeSoapIn">
    <part name="parameters" element="s0:UpdateImageViewerDefaultViewMode" />
  </message>
  <message name="UpdateImageViewerDefaultViewModeSoapOut">
    <part name="parameters" element="s0:UpdateImageViewerDefaultViewModeResponse" />
  </message>
  <message name="UpdateOIXDocumentModeSoapIn">
    <part name="parameters" element="s0:UpdateOIXDocumentMode" />
  </message>
  <message name="UpdateOIXDocumentModeSoapOut">
    <part name="parameters" element="s0:UpdateOIXDocumentModeResponse" />
  </message>
  <message name="UpdateSelectedMarkupSetArtifactIDSoapIn">
    <part name="parameters" element="s0:UpdateSelectedMarkupSetArtifactID" />
  </message>
  <message name="UpdateSelectedMarkupSetArtifactIDSoapOut">
    <part name="parameters" element="s0:UpdateSelectedMarkupSetArtifactIDResponse" />
  </message>
  <message name="UpdateDefaultRedactionTextSoapIn">
    <part name="parameters" element="s0:UpdateDefaultRedactionText" />
  </message>
  <message name="UpdateDefaultRedactionTextSoapOut">
    <part name="parameters" element="s0:UpdateDefaultRedactionTextResponse" />
  </message>
  <message name="LoginSoapIn">
    <part name="parameters" element="s0:Login" />
  </message>
  <message name="LoginSoapOut">
    <part name="parameters" element="s0:LoginResponse" />
  </message>
  <message name="LoginWithAuthenticationTokenSoapIn">
    <part name="parameters" element="s0:LoginWithAuthenticationToken" />
  </message>
  <message name="LoginWithAuthenticationTokenSoapOut">
    <part name="parameters" element="s0:LoginWithAuthenticationTokenResponse" />
  </message>
  <message name="GenerateAuthenticationTokenSoapIn">
    <part name="parameters" element="s0:GenerateAuthenticationToken" />
  </message>
  <message name="GenerateAuthenticationTokenSoapOut">
    <part name="parameters" element="s0:GenerateAuthenticationTokenResponse" />
  </message>
  <message name="GetLatestAuthenticationTokenSoapIn">
    <part name="parameters" element="s0:GetLatestAuthenticationToken" />
  </message>
  <message name="GetLatestAuthenticationTokenSoapOut">
    <part name="parameters" element="s0:GetLatestAuthenticationTokenResponse" />
  </message>
  <message name="RetrieveAllAssignableInCaseSoapIn">
    <part name="parameters" element="s0:RetrieveAllAssignableInCase" />
  </message>
  <message name="RetrieveAllAssignableInCaseSoapOut">
    <part name="parameters" element="s0:RetrieveAllAssignableInCaseResponse" />
  </message>
  <portType name="UserManagerSoap">
    <operation name="UpdateImageViewerDefaultViewMode">
      <input message="s0:UpdateImageViewerDefaultViewModeSoapIn" />
      <output message="s0:UpdateImageViewerDefaultViewModeSoapOut" />
    </operation>
    <operation name="UpdateOIXDocumentMode">
      <input message="s0:UpdateOIXDocumentModeSoapIn" />
      <output message="s0:UpdateOIXDocumentModeSoapOut" />
    </operation>
    <operation name="UpdateSelectedMarkupSetArtifactID">
      <input message="s0:UpdateSelectedMarkupSetArtifactIDSoapIn" />
      <output message="s0:UpdateSelectedMarkupSetArtifactIDSoapOut" />
    </operation>
    <operation name="UpdateDefaultRedactionText">
      <input message="s0:UpdateDefaultRedactionTextSoapIn" />
      <output message="s0:UpdateDefaultRedactionTextSoapOut" />
    </operation>
    <operation name="Login">
      <input message="s0:LoginSoapIn" />
      <output message="s0:LoginSoapOut" />
    </operation>
    <operation name="LoginWithAuthenticationToken">
      <input message="s0:LoginWithAuthenticationTokenSoapIn" />
      <output message="s0:LoginWithAuthenticationTokenSoapOut" />
    </operation>
    <operation name="GenerateAuthenticationToken">
      <input message="s0:GenerateAuthenticationTokenSoapIn" />
      <output message="s0:GenerateAuthenticationTokenSoapOut" />
    </operation>
    <operation name="GetLatestAuthenticationToken">
      <input message="s0:GetLatestAuthenticationTokenSoapIn" />
      <output message="s0:GetLatestAuthenticationTokenSoapOut" />
    </operation>
    <operation name="RetrieveAllAssignableInCase">
      <input message="s0:RetrieveAllAssignableInCaseSoapIn" />
      <output message="s0:RetrieveAllAssignableInCaseSoapOut" />
    </operation>
  </portType>
  <binding name="UserManagerSoap" type="s0:UserManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="UpdateImageViewerDefaultViewMode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateImageViewerDefaultViewMode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateOIXDocumentMode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateOIXDocumentMode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateSelectedMarkupSetArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateSelectedMarkupSetArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateDefaultRedactionText">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateDefaultRedactionText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/Login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoginWithAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoginWithAuthenticationToken" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenerateAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateAuthenticationToken" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLatestAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GetLatestAuthenticationToken" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveAllAssignableInCase">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/RetrieveAllAssignableInCase" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UserManager">
    <port name="UserManagerSoap" binding="s0:UserManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/UserManager.asmx" />
    </port>
  </service>
</definitions>