Web References/kCura.EDDS.WebAPI.UserManagerBase/UserManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/UserManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/UserManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/UserManager">
      <s:element name="UpdateImageViewerDefaultViewMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defaultViewMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImageViewerDefaultViewModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateOIXDocumentMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOIXDocumentModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSelectedMarkupSetArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="selectedMarkupSetArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSelectedMarkupSetArtifactIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDefaultRedactionText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDefaultRedactionTextResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClearCookiesBeforeLogin">
        <s:complexType />
      </s:element>
      <s:element name="ClearCookiesBeforeLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithAuthenticationToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginWithAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GenerateAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateDistributedAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GenerateDistributedAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateDistributedAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllAssignableInCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllAssignableInCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllAssignableInCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateImageViewerDefaultViewModeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateImageViewerDefaultViewMode" />
  </wsdl:message>
  <wsdl:message name="UpdateImageViewerDefaultViewModeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateImageViewerDefaultViewModeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOIXDocumentModeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOIXDocumentMode" />
  </wsdl:message>
  <wsdl:message name="UpdateOIXDocumentModeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOIXDocumentModeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSelectedMarkupSetArtifactID" />
  </wsdl:message>
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSelectedMarkupSetArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDefaultRedactionTextSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDefaultRedactionText" />
  </wsdl:message>
  <wsdl:message name="UpdateDefaultRedactionTextSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDefaultRedactionTextResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ClearCookiesBeforeLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ClearCookiesBeforeLogin" />
  </wsdl:message>
  <wsdl:message name="ClearCookiesBeforeLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ClearCookiesBeforeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:LoginWithAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:LoginWithAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GenerateAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateDistributedAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateDistributedAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GenerateDistributedAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateDistributedAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GetLatestAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllAssignableInCase" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllAssignableInCaseResponse" />
  </wsdl:message>
  <wsdl:portType name="UserManagerSoap">
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <wsdl:input message="tns:UpdateImageViewerDefaultViewModeSoapIn" />
      <wsdl:output message="tns:UpdateImageViewerDefaultViewModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <wsdl:input message="tns:UpdateOIXDocumentModeSoapIn" />
      <wsdl:output message="tns:UpdateOIXDocumentModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <wsdl:input message="tns:UpdateSelectedMarkupSetArtifactIDSoapIn" />
      <wsdl:output message="tns:UpdateSelectedMarkupSetArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <wsdl:input message="tns:UpdateDefaultRedactionTextSoapIn" />
      <wsdl:output message="tns:UpdateDefaultRedactionTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <wsdl:input message="tns:ClearCookiesBeforeLoginSoapIn" />
      <wsdl:output message="tns:ClearCookiesBeforeLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <wsdl:input message="tns:LoginWithAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:LoginWithAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <wsdl:input message="tns:GenerateAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GenerateAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <wsdl:input message="tns:GenerateDistributedAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GenerateDistributedAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <wsdl:input message="tns:GetLatestAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GetLatestAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <wsdl:input message="tns:RetrieveAllAssignableInCaseSoapIn" />
      <wsdl:output message="tns:RetrieveAllAssignableInCaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagerSoap" type="tns:UserManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateImageViewerDefaultViewMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateOIXDocumentMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateSelectedMarkupSetArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateDefaultRedactionText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/ClearCookiesBeforeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoginWithAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateDistributedAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GetLatestAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/RetrieveAllAssignableInCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagerSoap12" type="tns:UserManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateImageViewerDefaultViewMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateOIXDocumentMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateSelectedMarkupSetArtifactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateDefaultRedactionText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/ClearCookiesBeforeLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoginWithAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateDistributedAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/GetLatestAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/RetrieveAllAssignableInCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManager">
    <wsdl:port name="UserManagerSoap" binding="tns:UserManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/UserManager.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagerSoap12" binding="tns:UserManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/UserManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>