Web References/kCura.EDDS.WebAPI.ObjectManagerBase/ObjectManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/ObjectManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/ObjectManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ObjectManager">
      <s:element name="RetrieveArtifactIdOfMappedObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="textIdentifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveArtifactIdOfMappedObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveArtifactIdOfMappedObjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveTextIdentifierOfMappedObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveTextIdentifierOfMappedObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveTextIdentifierOfMappedObjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveArtifactIdOfMappedParentObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="textIdentifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveArtifactIdOfMappedParentObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveArtifactIdOfMappedParentObjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appArtifactId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="artifact" type="tns:SimplifiedMaskDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SimplifiedMaskDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfSimplifiedFieldDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSimplifiedFieldDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SimplifiedFieldDto" nillable="true" type="tns:SimplifiedFieldDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimplifiedFieldDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveArtifactIdOfMappedObjectSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveArtifactIdOfMappedObject" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedObjectSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveArtifactIdOfMappedObjectResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextIdentifierOfMappedObjectSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveTextIdentifierOfMappedObject" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextIdentifierOfMappedObjectSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveTextIdentifierOfMappedObjectResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedParentObjectSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveArtifactIdOfMappedParentObject" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedParentObjectSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveArtifactIdOfMappedParentObjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedObjectHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="textIdentifier" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedObjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextIdentifierOfMappedObjectHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="artifactId" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextIdentifierOfMappedObjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedParentObjectHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="textIdentifier" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedParentObjectHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedObjectHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="textIdentifier" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedObjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextIdentifierOfMappedObjectHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="artifactId" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveTextIdentifierOfMappedObjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedParentObjectHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="textIdentifier" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveArtifactIdOfMappedParentObjectHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="ObjectManagerSoap">
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <wsdl:input message="tns:RetrieveArtifactIdOfMappedObjectSoapIn" />
      <wsdl:output message="tns:RetrieveArtifactIdOfMappedObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <wsdl:input message="tns:RetrieveTextIdentifierOfMappedObjectSoapIn" />
      <wsdl:output message="tns:RetrieveTextIdentifierOfMappedObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <wsdl:input message="tns:RetrieveArtifactIdOfMappedParentObjectSoapIn" />
      <wsdl:output message="tns:RetrieveArtifactIdOfMappedParentObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ObjectManagerHttpGet">
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <wsdl:input message="tns:RetrieveArtifactIdOfMappedObjectHttpGetIn" />
      <wsdl:output message="tns:RetrieveArtifactIdOfMappedObjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <wsdl:input message="tns:RetrieveTextIdentifierOfMappedObjectHttpGetIn" />
      <wsdl:output message="tns:RetrieveTextIdentifierOfMappedObjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <wsdl:input message="tns:RetrieveArtifactIdOfMappedParentObjectHttpGetIn" />
      <wsdl:output message="tns:RetrieveArtifactIdOfMappedParentObjectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ObjectManagerHttpPost">
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <wsdl:input message="tns:RetrieveArtifactIdOfMappedObjectHttpPostIn" />
      <wsdl:output message="tns:RetrieveArtifactIdOfMappedObjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <wsdl:input message="tns:RetrieveTextIdentifierOfMappedObjectHttpPostIn" />
      <wsdl:output message="tns:RetrieveTextIdentifierOfMappedObjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <wsdl:input message="tns:RetrieveArtifactIdOfMappedParentObjectHttpPostIn" />
      <wsdl:output message="tns:RetrieveArtifactIdOfMappedParentObjectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObjectManagerSoap" type="tns:ObjectManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveArtifactIdOfMappedObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveTextIdentifierOfMappedObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveArtifactIdOfMappedParentObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectManagerSoap12" type="tns:ObjectManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveArtifactIdOfMappedObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveTextIdentifierOfMappedObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveArtifactIdOfMappedParentObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectManagerHttpGet" type="tns:ObjectManagerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <http:operation location="/RetrieveArtifactIdOfMappedObject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <http:operation location="/RetrieveTextIdentifierOfMappedObject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <http:operation location="/RetrieveArtifactIdOfMappedParentObject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectManagerHttpPost" type="tns:ObjectManagerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetrieveArtifactIdOfMappedObject">
      <http:operation location="/RetrieveArtifactIdOfMappedObject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveTextIdentifierOfMappedObject">
      <http:operation location="/RetrieveTextIdentifierOfMappedObject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveArtifactIdOfMappedParentObject">
      <http:operation location="/RetrieveArtifactIdOfMappedParentObject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectManager">
    <wsdl:port name="ObjectManagerSoap" binding="tns:ObjectManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/ObjectManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectManagerSoap12" binding="tns:ObjectManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/ObjectManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectManagerHttpGet" binding="tns:ObjectManagerHttpGet">
      <http:address location="http://localhost/RelativityWebApi/ObjectManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectManagerHttpPost" binding="tns:ObjectManagerHttpPost">
      <http:address location="http://localhost/RelativityWebApi/ObjectManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>