Web References/kCura.EDDS.WebAPI.ObjectManagerBase/ObjectManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/ObjectManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/ObjectManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ObjectManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveArtifactIdOfMappedObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="textIdentifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveArtifactIdOfMappedObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveArtifactIdOfMappedObjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveArtifactIdOfMappedParentObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="textIdentifier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveArtifactIdOfMappedParentObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveArtifactIdOfMappedParentObjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RetrieveArtifactIdOfMappedObjectSoapIn">
    <part name="parameters" element="s0:RetrieveArtifactIdOfMappedObject" />
  </message>
  <message name="RetrieveArtifactIdOfMappedObjectSoapOut">
    <part name="parameters" element="s0:RetrieveArtifactIdOfMappedObjectResponse" />
  </message>
  <message name="RetrieveArtifactIdOfMappedParentObjectSoapIn">
    <part name="parameters" element="s0:RetrieveArtifactIdOfMappedParentObject" />
  </message>
  <message name="RetrieveArtifactIdOfMappedParentObjectSoapOut">
    <part name="parameters" element="s0:RetrieveArtifactIdOfMappedParentObjectResponse" />
  </message>
  <portType name="ObjectManagerSoap">
    <operation name="RetrieveArtifactIdOfMappedObject">
      <input message="s0:RetrieveArtifactIdOfMappedObjectSoapIn" />
      <output message="s0:RetrieveArtifactIdOfMappedObjectSoapOut" />
    </operation>
    <operation name="RetrieveArtifactIdOfMappedParentObject">
      <input message="s0:RetrieveArtifactIdOfMappedParentObjectSoapIn" />
      <output message="s0:RetrieveArtifactIdOfMappedParentObjectSoapOut" />
    </operation>
  </portType>
  <binding name="ObjectManagerSoap" type="s0:ObjectManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveArtifactIdOfMappedObject">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveArtifactIdOfMappedObject" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveArtifactIdOfMappedParentObject">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectManager/RetrieveArtifactIdOfMappedParentObject" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ObjectManager">
    <port name="ObjectManagerSoap" binding="s0:ObjectManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/ObjectManager.asmx" />
    </port>
  </service>
</definitions>