Web References/kCura.EDDS.WebAPI.TemplateManagerBase/TemplateManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/TemplateManager" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.kCura.com/EDDS/TemplateManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/TemplateManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="InstallTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="template">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="installationParameters" type="tns:ApplicationInstallationParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApplicationInstallationParameters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CaseId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InstallTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstallTemplateResult" type="tns:ApplicationInstallationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApplicationInstallationResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NewApplicationArtifacts" type="tns:ArrayOfApplicationArtifact" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedApplicationArtifacts" type="tns:ArrayOfApplicationArtifact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApplicationArtifact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApplicationArtifact" nillable="true" type="tns:ApplicationArtifact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApplicationArtifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ApplicationArtifactType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApplicationArtifactType">
        <s:restriction base="s:string">
          <s:enumeration value="Case" />
          <s:enumeration value="Code" />
          <s:enumeration value="Field" />
          <s:enumeration value="Layout" />
          <s:enumeration value="Object" />
          <s:enumeration value="Rule" />
          <s:enumeration value="Sync" />
          <s:enumeration value="Tab" />
          <s:enumeration value="View" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:InstallTemplate" />
  </wsdl:message>
  <wsdl:message name="InstallTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:InstallTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="TemplateManagerSoap">
    <wsdl:operation name="InstallTemplate">
      <wsdl:input message="tns:InstallTemplateSoapIn" />
      <wsdl:output message="tns:InstallTemplateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TemplateManagerSoap" type="tns:TemplateManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallTemplate">
      <soap:operation soapAction="http://www.kCura.com/EDDS/TemplateManager/InstallTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TemplateManagerSoap12" type="tns:TemplateManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallTemplate">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/TemplateManager/InstallTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TemplateManager">
    <wsdl:port name="TemplateManagerSoap" binding="tns:TemplateManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/TemplateManager.asmx" />
    </wsdl:port>
    <wsdl:port name="TemplateManagerSoap12" binding="tns:TemplateManagerSoap12">
      <soap12:address location="http://localhost/EDDSWebAPI/TemplateManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>