Web References/kCura.EDDS.WebAPI.BulkImportManagerBase/BulkImportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/BulkImportManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/BulkImportManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/BulkImportManager">
      <s:element name="BulkImportImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bulkFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uploadFullText" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overwrite" type="s0:OverwriteType" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationFolderArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="repository" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useBulk" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="OverwriteType">
        <s:restriction base="s:string">
          <s:enumeration value="Append" />
          <s:enumeration value="Overlay" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BulkImportImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportImageResult" type="s0:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MassImportResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FilesProcessed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactsCreated" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactsUpdated" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BulkImportProductionImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bulkFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uploadFullText" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overwrite" type="s0:OverwriteType" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationFolderArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="repository" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="useBulk" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productionKeyFieldArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportProductionImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportProductionImageResult" type="s0:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateImageErrorFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="importKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="writeHeader" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateImageErrorFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateImageErrorFilesResult" type="s0:ErrorFileKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorFileKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OpticonKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImageRunHasErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageRunHasErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImageRunHasErrorsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportNative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="s0:NativeLoadInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NativeLoadInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MappedFields" type="s0:ArrayOfFieldInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="Overlay" type="s0:OverwriteType" />
          <s:element minOccurs="0" maxOccurs="1" name="Repository" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseBulkDataImport" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UploadFiles" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyFieldArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFieldInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldInfo" nillable="true" type="s0:FieldInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="s0:FieldCategory" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s0:FieldType" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TextLength" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnicodeEnabled" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Reflected" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="FileSize" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
          <s:enumeration value="MultiReflected" />
          <s:enumeration value="Batch" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
          <s:enumeration value="Objects" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BulkImportNativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportNativeResult" type="s0:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="s0:ObjectLoadInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObjectLoadInfo">
        <s:complexContent mixed="false">
          <s:extension base="s0:NativeLoadInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BulkImportObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportObjectsResult" type="s0:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNativeErrorFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="writeHeader" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNativeErrorFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateNativeErrorFilesResult" type="s0:ErrorFileKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NativeRunHasErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NativeRunHasErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NativeRunHasErrorsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeTempTables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeTempTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisposeTempTablesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="BulkImportImageSoapIn">
    <part name="parameters" element="s0:BulkImportImage" />
  </message>
  <message name="BulkImportImageSoapOut">
    <part name="parameters" element="s0:BulkImportImageResponse" />
  </message>
  <message name="BulkImportProductionImageSoapIn">
    <part name="parameters" element="s0:BulkImportProductionImage" />
  </message>
  <message name="BulkImportProductionImageSoapOut">
    <part name="parameters" element="s0:BulkImportProductionImageResponse" />
  </message>
  <message name="GenerateImageErrorFilesSoapIn">
    <part name="parameters" element="s0:GenerateImageErrorFiles" />
  </message>
  <message name="GenerateImageErrorFilesSoapOut">
    <part name="parameters" element="s0:GenerateImageErrorFilesResponse" />
  </message>
  <message name="ImageRunHasErrorsSoapIn">
    <part name="parameters" element="s0:ImageRunHasErrors" />
  </message>
  <message name="ImageRunHasErrorsSoapOut">
    <part name="parameters" element="s0:ImageRunHasErrorsResponse" />
  </message>
  <message name="BulkImportNativeSoapIn">
    <part name="parameters" element="s0:BulkImportNative" />
  </message>
  <message name="BulkImportNativeSoapOut">
    <part name="parameters" element="s0:BulkImportNativeResponse" />
  </message>
  <message name="BulkImportObjectsSoapIn">
    <part name="parameters" element="s0:BulkImportObjects" />
  </message>
  <message name="BulkImportObjectsSoapOut">
    <part name="parameters" element="s0:BulkImportObjectsResponse" />
  </message>
  <message name="GenerateNativeErrorFilesSoapIn">
    <part name="parameters" element="s0:GenerateNativeErrorFiles" />
  </message>
  <message name="GenerateNativeErrorFilesSoapOut">
    <part name="parameters" element="s0:GenerateNativeErrorFilesResponse" />
  </message>
  <message name="NativeRunHasErrorsSoapIn">
    <part name="parameters" element="s0:NativeRunHasErrors" />
  </message>
  <message name="NativeRunHasErrorsSoapOut">
    <part name="parameters" element="s0:NativeRunHasErrorsResponse" />
  </message>
  <message name="DisposeTempTablesSoapIn">
    <part name="parameters" element="s0:DisposeTempTables" />
  </message>
  <message name="DisposeTempTablesSoapOut">
    <part name="parameters" element="s0:DisposeTempTablesResponse" />
  </message>
  <portType name="BulkImportManagerSoap">
    <operation name="BulkImportImage">
      <input message="s0:BulkImportImageSoapIn" />
      <output message="s0:BulkImportImageSoapOut" />
    </operation>
    <operation name="BulkImportProductionImage">
      <input message="s0:BulkImportProductionImageSoapIn" />
      <output message="s0:BulkImportProductionImageSoapOut" />
    </operation>
    <operation name="GenerateImageErrorFiles">
      <input message="s0:GenerateImageErrorFilesSoapIn" />
      <output message="s0:GenerateImageErrorFilesSoapOut" />
    </operation>
    <operation name="ImageRunHasErrors">
      <input message="s0:ImageRunHasErrorsSoapIn" />
      <output message="s0:ImageRunHasErrorsSoapOut" />
    </operation>
    <operation name="BulkImportNative">
      <input message="s0:BulkImportNativeSoapIn" />
      <output message="s0:BulkImportNativeSoapOut" />
    </operation>
    <operation name="BulkImportObjects">
      <input message="s0:BulkImportObjectsSoapIn" />
      <output message="s0:BulkImportObjectsSoapOut" />
    </operation>
    <operation name="GenerateNativeErrorFiles">
      <input message="s0:GenerateNativeErrorFilesSoapIn" />
      <output message="s0:GenerateNativeErrorFilesSoapOut" />
    </operation>
    <operation name="NativeRunHasErrors">
      <input message="s0:NativeRunHasErrorsSoapIn" />
      <output message="s0:NativeRunHasErrorsSoapOut" />
    </operation>
    <operation name="DisposeTempTables">
      <input message="s0:DisposeTempTablesSoapIn" />
      <output message="s0:DisposeTempTablesSoapOut" />
    </operation>
  </portType>
  <binding name="BulkImportManagerSoap" type="s0:BulkImportManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="BulkImportImage">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BulkImportProductionImage">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportProductionImage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenerateImageErrorFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateImageErrorFiles" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ImageRunHasErrors">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/ImageRunHasErrors" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BulkImportNative">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportNative" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BulkImportObjects">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportObjects" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GenerateNativeErrorFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateNativeErrorFiles" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="NativeRunHasErrors">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/NativeRunHasErrors" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DisposeTempTables">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/DisposeTempTables" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BulkImportManager">
    <port name="BulkImportManagerSoap" binding="s0:BulkImportManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/BulkImportManager.asmx" />
    </port>
  </service>
</definitions>