Web References/kCura.EDDS.WebAPI.BulkImportManagerBase/BulkImportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.kCura.com/EDDS/BulkImportManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/BulkImportManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/BulkImportManager">
      <s:element name="BulkImportImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bulkFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uploadFullText" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overwrite" type="tns:OverwriteType" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationFolderArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="repository" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="useBulk" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="OverwriteType">
        <s:restriction base="s:string">
          <s:enumeration value="Append" />
          <s:enumeration value="Overlay" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BulkImportImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportImageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportProductionImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="bulkFileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uploadFullText" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overwrite" type="tns:OverwriteType" />
            <s:element minOccurs="1" maxOccurs="1" name="destinationFolderArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="repository" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="useBulk" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="productionKeyFieldArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportProductionImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportProductionImageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateImageErrorFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="importKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="writeHeader" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorFileKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OpticonKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateImageErrorFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateImageErrorFilesResult" type="tns:ErrorFileKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageRunHasErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageRunHasErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImageRunHasErrorsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportNative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="tns:NativeLoadInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NativeLoadInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MappedFields" type="tns:ArrayOfFieldInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="Overlay" type="tns:OverwriteType" />
          <s:element minOccurs="0" maxOccurs="1" name="Repository" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseBulkDataImport" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UploadFiles" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyFieldArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFieldInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldInfo" nillable="true" type="tns:FieldInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="tns:FieldCategory" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:FieldType" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TextLength" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnicodeEnabled" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Reflected" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="FileSize" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
          <s:enumeration value="MultiReflected" />
          <s:enumeration value="Batch" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
          <s:enumeration value="Objects" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BulkImportNativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportNativeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="tns:ObjectLoadInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObjectLoadInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:NativeLoadInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BulkImportObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportObjectsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNativeErrorFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="writeHeader" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNativeErrorFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateNativeErrorFilesResult" type="tns:ErrorFileKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NativeRunHasErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NativeRunHasErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NativeRunHasErrorsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeTempTables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeTempTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisposeTempTablesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BulkImportImageSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportImage" />
  </wsdl:message>
  <wsdl:message name="BulkImportImageSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportImageResponse" />
  </wsdl:message>
  <wsdl:message name="BulkImportProductionImageSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportProductionImage" />
  </wsdl:message>
  <wsdl:message name="BulkImportProductionImageSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportProductionImageResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateImageErrorFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateImageErrorFiles" />
  </wsdl:message>
  <wsdl:message name="GenerateImageErrorFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateImageErrorFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ImageRunHasErrorsSoapIn">
    <wsdl:part name="parameters" element="tns:ImageRunHasErrors" />
  </wsdl:message>
  <wsdl:message name="ImageRunHasErrorsSoapOut">
    <wsdl:part name="parameters" element="tns:ImageRunHasErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="BulkImportNativeSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportNative" />
  </wsdl:message>
  <wsdl:message name="BulkImportNativeSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportNativeResponse" />
  </wsdl:message>
  <wsdl:message name="BulkImportObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportObjects" />
  </wsdl:message>
  <wsdl:message name="BulkImportObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateNativeErrorFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateNativeErrorFiles" />
  </wsdl:message>
  <wsdl:message name="GenerateNativeErrorFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateNativeErrorFilesResponse" />
  </wsdl:message>
  <wsdl:message name="NativeRunHasErrorsSoapIn">
    <wsdl:part name="parameters" element="tns:NativeRunHasErrors" />
  </wsdl:message>
  <wsdl:message name="NativeRunHasErrorsSoapOut">
    <wsdl:part name="parameters" element="tns:NativeRunHasErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="DisposeTempTablesSoapIn">
    <wsdl:part name="parameters" element="tns:DisposeTempTables" />
  </wsdl:message>
  <wsdl:message name="DisposeTempTablesSoapOut">
    <wsdl:part name="parameters" element="tns:DisposeTempTablesResponse" />
  </wsdl:message>
  <wsdl:portType name="BulkImportManagerSoap">
    <wsdl:operation name="BulkImportImage">
      <wsdl:input message="tns:BulkImportImageSoapIn" />
      <wsdl:output message="tns:BulkImportImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkImportProductionImage">
      <wsdl:input message="tns:BulkImportProductionImageSoapIn" />
      <wsdl:output message="tns:BulkImportProductionImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateImageErrorFiles">
      <wsdl:input message="tns:GenerateImageErrorFilesSoapIn" />
      <wsdl:output message="tns:GenerateImageErrorFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImageRunHasErrors">
      <wsdl:input message="tns:ImageRunHasErrorsSoapIn" />
      <wsdl:output message="tns:ImageRunHasErrorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkImportNative">
      <wsdl:input message="tns:BulkImportNativeSoapIn" />
      <wsdl:output message="tns:BulkImportNativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkImportObjects">
      <wsdl:input message="tns:BulkImportObjectsSoapIn" />
      <wsdl:output message="tns:BulkImportObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNativeErrorFiles">
      <wsdl:input message="tns:GenerateNativeErrorFilesSoapIn" />
      <wsdl:output message="tns:GenerateNativeErrorFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NativeRunHasErrors">
      <wsdl:input message="tns:NativeRunHasErrorsSoapIn" />
      <wsdl:output message="tns:NativeRunHasErrorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisposeTempTables">
      <wsdl:input message="tns:DisposeTempTablesSoapIn" />
      <wsdl:output message="tns:DisposeTempTablesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkImportManagerSoap" type="tns:BulkImportManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="BulkImportImage">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportProductionImage">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportProductionImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateImageErrorFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateImageErrorFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageRunHasErrors">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/ImageRunHasErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportNative">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportNative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportObjects">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNativeErrorFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateNativeErrorFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NativeRunHasErrors">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/NativeRunHasErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeTempTables">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/DisposeTempTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkImportManager">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="BulkImportManagerSoap" binding="tns:BulkImportManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/BulkImportManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>