Web References/kCura.EDDS.WebAPI.BulkImportManagerBase/BulkImportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/BulkImportManager" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/BulkImportManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/BulkImportManager">
      <s:element name="BulkImportImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="tns:ImageLoadInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="inRepository" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImageLoadInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DisableUserSecurityCheck" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Overlay" type="tns:OverwriteType" />
          <s:element minOccurs="0" maxOccurs="1" name="Repository" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseBulkDataImport" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UploadFullText" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BulkFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataGridFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyFieldArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationFolderArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AuditLevel" type="tns:ImportAuditLevel" />
          <s:element minOccurs="1" maxOccurs="1" name="OverlayArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OverwriteType">
        <s:restriction base="s:string">
          <s:enumeration value="Append" />
          <s:enumeration value="Overlay" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImportAuditLevel">
        <s:restriction base="s:string">
          <s:enumeration value="FullAudit" />
          <s:enumeration value="NoSnapshot" />
          <s:enumeration value="NoAudit" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BulkImportImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportImageResult" type="tns:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MassImportResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FilesProcessed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactsCreated" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactsUpdated" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionDetail" type="tns:SoapExceptionDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoapExceptionDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionFullText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Details" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BulkImportProductionImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="tns:ImageLoadInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inRepository" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportProductionImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportProductionImageResult" type="tns:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateImageErrorFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="importKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="writeHeader" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateImageErrorFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateImageErrorFilesResult" type="tns:ErrorFileKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorFileKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OpticonKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImageRunHasErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageRunHasErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ImageRunHasErrorsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportNative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="tns:NativeLoadInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="inRepository" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="includeExtractedTextEncoding" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NativeLoadInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Range" type="tns:LoadRange" />
          <s:element minOccurs="0" maxOccurs="1" name="MappedFields" type="tns:ArrayOfFieldInfo" />
          <s:element minOccurs="1" maxOccurs="1" name="Overlay" type="tns:OverwriteType" />
          <s:element minOccurs="0" maxOccurs="1" name="Repository" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseBulkDataImport" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UploadFiles" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataGridFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisableUserSecurityCheck" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OnBehalfOfUserToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AuditLevel" type="tns:ImportAuditLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="BulkLoadFileFieldDelimiter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OverlayArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OverlayBehavior" type="tns:OverlayBehavior" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyFieldArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootFolderID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoadRange">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFieldInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldInfo" nillable="true" type="tns:FieldInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:FieldInfoBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsUnicodeEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportBehavior" nillable="true" type="tns:ImportBehaviorChoice" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FieldInfoBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="tns:FieldCategory" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:FieldType" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TextLength" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageLocation" type="tns:StorageLocationChoice" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Reflected" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="FileSize" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
          <s:enumeration value="MultiReflected" />
          <s:enumeration value="Batch" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Empty" />
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
          <s:enumeration value="Objects" />
          <s:enumeration value="OffTableText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="StorageLocationChoice">
        <s:restriction base="s:string">
          <s:enumeration value="SQL" />
          <s:enumeration value="DataGrid" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImportBehaviorChoice">
        <s:restriction base="s:string">
          <s:enumeration value="LeaveBlankValuesUnchanged" />
          <s:enumeration value="ReplaceBlankValuesWithIdentifier" />
          <s:enumeration value="ObjectFieldContainsArtifactId" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OverlayBehavior">
        <s:restriction base="s:string">
          <s:enumeration value="UseRelativityDefaults" />
          <s:enumeration value="MergeAll" />
          <s:enumeration value="ReplaceAll" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BulkImportNativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportNativeResult" type="tns:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkImportObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="settings" type="tns:ObjectLoadInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="inRepository" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObjectLoadInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:NativeLoadInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BulkImportObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkImportObjectsResult" type="tns:MassImportResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNativeErrorFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="writeHeader" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="keyFieldID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateNativeErrorFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateNativeErrorFilesResult" type="tns:ErrorFileKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NativeRunHasErrors">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NativeRunHasErrorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NativeRunHasErrorsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeTempTables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeTempTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisposeTempTablesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasImportPermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasImportPermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasImportPermissionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BulkImportImageSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportImage" />
  </wsdl:message>
  <wsdl:message name="BulkImportImageSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportImageResponse" />
  </wsdl:message>
  <wsdl:message name="BulkImportProductionImageSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportProductionImage" />
  </wsdl:message>
  <wsdl:message name="BulkImportProductionImageSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportProductionImageResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateImageErrorFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateImageErrorFiles" />
  </wsdl:message>
  <wsdl:message name="GenerateImageErrorFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateImageErrorFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ImageRunHasErrorsSoapIn">
    <wsdl:part name="parameters" element="tns:ImageRunHasErrors" />
  </wsdl:message>
  <wsdl:message name="ImageRunHasErrorsSoapOut">
    <wsdl:part name="parameters" element="tns:ImageRunHasErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="BulkImportNativeSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportNative" />
  </wsdl:message>
  <wsdl:message name="BulkImportNativeSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportNativeResponse" />
  </wsdl:message>
  <wsdl:message name="BulkImportObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:BulkImportObjects" />
  </wsdl:message>
  <wsdl:message name="BulkImportObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:BulkImportObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateNativeErrorFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateNativeErrorFiles" />
  </wsdl:message>
  <wsdl:message name="GenerateNativeErrorFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateNativeErrorFilesResponse" />
  </wsdl:message>
  <wsdl:message name="NativeRunHasErrorsSoapIn">
    <wsdl:part name="parameters" element="tns:NativeRunHasErrors" />
  </wsdl:message>
  <wsdl:message name="NativeRunHasErrorsSoapOut">
    <wsdl:part name="parameters" element="tns:NativeRunHasErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="DisposeTempTablesSoapIn">
    <wsdl:part name="parameters" element="tns:DisposeTempTables" />
  </wsdl:message>
  <wsdl:message name="DisposeTempTablesSoapOut">
    <wsdl:part name="parameters" element="tns:DisposeTempTablesResponse" />
  </wsdl:message>
  <wsdl:message name="HasImportPermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:HasImportPermissions" />
  </wsdl:message>
  <wsdl:message name="HasImportPermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:HasImportPermissionsResponse" />
  </wsdl:message>
  <wsdl:portType name="BulkImportManagerSoap">
    <wsdl:operation name="BulkImportImage">
      <wsdl:input message="tns:BulkImportImageSoapIn" />
      <wsdl:output message="tns:BulkImportImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkImportProductionImage">
      <wsdl:input message="tns:BulkImportProductionImageSoapIn" />
      <wsdl:output message="tns:BulkImportProductionImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateImageErrorFiles">
      <wsdl:input message="tns:GenerateImageErrorFilesSoapIn" />
      <wsdl:output message="tns:GenerateImageErrorFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImageRunHasErrors">
      <wsdl:input message="tns:ImageRunHasErrorsSoapIn" />
      <wsdl:output message="tns:ImageRunHasErrorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkImportNative">
      <wsdl:input message="tns:BulkImportNativeSoapIn" />
      <wsdl:output message="tns:BulkImportNativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkImportObjects">
      <wsdl:input message="tns:BulkImportObjectsSoapIn" />
      <wsdl:output message="tns:BulkImportObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNativeErrorFiles">
      <wsdl:input message="tns:GenerateNativeErrorFilesSoapIn" />
      <wsdl:output message="tns:GenerateNativeErrorFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NativeRunHasErrors">
      <wsdl:input message="tns:NativeRunHasErrorsSoapIn" />
      <wsdl:output message="tns:NativeRunHasErrorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisposeTempTables">
      <wsdl:input message="tns:DisposeTempTablesSoapIn" />
      <wsdl:output message="tns:DisposeTempTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasImportPermissions">
      <wsdl:input message="tns:HasImportPermissionsSoapIn" />
      <wsdl:output message="tns:HasImportPermissionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkImportManagerSoap" type="tns:BulkImportManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BulkImportImage">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportProductionImage">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportProductionImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateImageErrorFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateImageErrorFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageRunHasErrors">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/ImageRunHasErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportNative">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportNative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportObjects">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNativeErrorFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateNativeErrorFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NativeRunHasErrors">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/NativeRunHasErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeTempTables">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/DisposeTempTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasImportPermissions">
      <soap:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/HasImportPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BulkImportManagerSoap12" type="tns:BulkImportManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BulkImportImage">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportProductionImage">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportProductionImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateImageErrorFiles">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateImageErrorFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageRunHasErrors">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/ImageRunHasErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportNative">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportNative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkImportObjects">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/BulkImportObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNativeErrorFiles">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/GenerateNativeErrorFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NativeRunHasErrors">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/NativeRunHasErrors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeTempTables">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/DisposeTempTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasImportPermissions">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/BulkImportManager/HasImportPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkImportManager">
    <wsdl:port name="BulkImportManagerSoap" binding="tns:BulkImportManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/BulkImportManager.asmx" />
    </wsdl:port>
    <wsdl:port name="BulkImportManagerSoap12" binding="tns:BulkImportManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/BulkImportManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>