Web References/kCura.EDDS.WebAPI.FileIOBase/FileIO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://foley.com/EDDS/FileManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/FileManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/FileManager">
      <s:element name="BeginFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="documentDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginFillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BeginFillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileFillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FileFillResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFillResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReadFileAsString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFileAsStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFileAsStringResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="BeginFillSoapIn">
    <part name="parameters" element="s0:BeginFill" />
  </message>
  <message name="BeginFillSoapOut">
    <part name="parameters" element="s0:BeginFillResponse" />
  </message>
  <message name="FileFillSoapIn">
    <part name="parameters" element="s0:FileFill" />
  </message>
  <message name="FileFillSoapOut">
    <part name="parameters" element="s0:FileFillResponse" />
  </message>
  <message name="RemoveFillSoapIn">
    <part name="parameters" element="s0:RemoveFill" />
  </message>
  <message name="RemoveFillSoapOut">
    <part name="parameters" element="s0:RemoveFillResponse" />
  </message>
  <message name="ReadFileAsStringSoapIn">
    <part name="parameters" element="s0:ReadFileAsString" />
  </message>
  <message name="ReadFileAsStringSoapOut">
    <part name="parameters" element="s0:ReadFileAsStringResponse" />
  </message>
  <portType name="FileIOSoap">
    <operation name="BeginFill">
      <input message="s0:BeginFillSoapIn" />
      <output message="s0:BeginFillSoapOut" />
    </operation>
    <operation name="FileFill">
      <input message="s0:FileFillSoapIn" />
      <output message="s0:FileFillSoapOut" />
    </operation>
    <operation name="RemoveFill">
      <input message="s0:RemoveFillSoapIn" />
      <output message="s0:RemoveFillSoapOut" />
    </operation>
    <operation name="ReadFileAsString">
      <input message="s0:ReadFileAsStringSoapIn" />
      <output message="s0:ReadFileAsStringSoapOut" />
    </operation>
  </portType>
  <binding name="FileIOSoap" type="s0:FileIOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="BeginFill">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/BeginFill" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FileFill">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/FileFill" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveFill">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/RemoveFill" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadFileAsString">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/ReadFileAsString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FileIO">
    <port name="FileIOSoap" binding="s0:FileIOSoap">
      <soap:address location="http://localhost/EDDSWebAPI/FileIO.asmx" />
    </port>
  </service>
</definitions>