Web References/kCura.EDDS.WebAPI.FileIOBase/FileIO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://foley.com/EDDS/FileManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/FileManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/FileManager">
      <s:element name="BeginFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="documentDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginFillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BeginFillResult" type="s0:IoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FileFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileFillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileFillResult" type="s0:IoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFillResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveTempFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveTempFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReadFileAsString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFileAsStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFileAsStringResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBcpSharePath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBcpSharePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBcpSharePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateBcpShare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateBcpShareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateBcpShareResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBcpShareSpaceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBcpShareSpaceReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBcpShareSpaceReportResult" type="s0:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDefaultRepositorySpaceReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultRepositorySpaceReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultRepositorySpaceReportResult" type="s0:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RepositoryVolumeMax">
        <s:complexType />
      </s:element>
      <s:element name="RepositoryVolumeMaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RepositoryVolumeMaxResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="BeginFillSoapIn">
    <part name="parameters" element="s0:BeginFill" />
  </message>
  <message name="BeginFillSoapOut">
    <part name="parameters" element="s0:BeginFillResponse" />
  </message>
  <message name="FileFillSoapIn">
    <part name="parameters" element="s0:FileFill" />
  </message>
  <message name="FileFillSoapOut">
    <part name="parameters" element="s0:FileFillResponse" />
  </message>
  <message name="RemoveFillSoapIn">
    <part name="parameters" element="s0:RemoveFill" />
  </message>
  <message name="RemoveFillSoapOut">
    <part name="parameters" element="s0:RemoveFillResponse" />
  </message>
  <message name="RemoveTempFileSoapIn">
    <part name="parameters" element="s0:RemoveTempFile" />
  </message>
  <message name="RemoveTempFileSoapOut">
    <part name="parameters" element="s0:RemoveTempFileResponse" />
  </message>
  <message name="ReadFileAsStringSoapIn">
    <part name="parameters" element="s0:ReadFileAsString" />
  </message>
  <message name="ReadFileAsStringSoapOut">
    <part name="parameters" element="s0:ReadFileAsStringResponse" />
  </message>
  <message name="GetBcpSharePathSoapIn">
    <part name="parameters" element="s0:GetBcpSharePath" />
  </message>
  <message name="GetBcpSharePathSoapOut">
    <part name="parameters" element="s0:GetBcpSharePathResponse" />
  </message>
  <message name="ValidateBcpShareSoapIn">
    <part name="parameters" element="s0:ValidateBcpShare" />
  </message>
  <message name="ValidateBcpShareSoapOut">
    <part name="parameters" element="s0:ValidateBcpShareResponse" />
  </message>
  <message name="GetBcpShareSpaceReportSoapIn">
    <part name="parameters" element="s0:GetBcpShareSpaceReport" />
  </message>
  <message name="GetBcpShareSpaceReportSoapOut">
    <part name="parameters" element="s0:GetBcpShareSpaceReportResponse" />
  </message>
  <message name="GetDefaultRepositorySpaceReportSoapIn">
    <part name="parameters" element="s0:GetDefaultRepositorySpaceReport" />
  </message>
  <message name="GetDefaultRepositorySpaceReportSoapOut">
    <part name="parameters" element="s0:GetDefaultRepositorySpaceReportResponse" />
  </message>
  <message name="RepositoryVolumeMaxSoapIn">
    <part name="parameters" element="s0:RepositoryVolumeMax" />
  </message>
  <message name="RepositoryVolumeMaxSoapOut">
    <part name="parameters" element="s0:RepositoryVolumeMaxResponse" />
  </message>
  <portType name="FileIOSoap">
    <operation name="BeginFill">
      <input message="s0:BeginFillSoapIn" />
      <output message="s0:BeginFillSoapOut" />
    </operation>
    <operation name="FileFill">
      <input message="s0:FileFillSoapIn" />
      <output message="s0:FileFillSoapOut" />
    </operation>
    <operation name="RemoveFill">
      <input message="s0:RemoveFillSoapIn" />
      <output message="s0:RemoveFillSoapOut" />
    </operation>
    <operation name="RemoveTempFile">
      <input message="s0:RemoveTempFileSoapIn" />
      <output message="s0:RemoveTempFileSoapOut" />
    </operation>
    <operation name="ReadFileAsString">
      <input message="s0:ReadFileAsStringSoapIn" />
      <output message="s0:ReadFileAsStringSoapOut" />
    </operation>
    <operation name="GetBcpSharePath">
      <input message="s0:GetBcpSharePathSoapIn" />
      <output message="s0:GetBcpSharePathSoapOut" />
    </operation>
    <operation name="ValidateBcpShare">
      <input message="s0:ValidateBcpShareSoapIn" />
      <output message="s0:ValidateBcpShareSoapOut" />
    </operation>
    <operation name="GetBcpShareSpaceReport">
      <input message="s0:GetBcpShareSpaceReportSoapIn" />
      <output message="s0:GetBcpShareSpaceReportSoapOut" />
    </operation>
    <operation name="GetDefaultRepositorySpaceReport">
      <input message="s0:GetDefaultRepositorySpaceReportSoapIn" />
      <output message="s0:GetDefaultRepositorySpaceReportSoapOut" />
    </operation>
    <operation name="RepositoryVolumeMax">
      <input message="s0:RepositoryVolumeMaxSoapIn" />
      <output message="s0:RepositoryVolumeMaxSoapOut" />
    </operation>
  </portType>
  <binding name="FileIOSoap" type="s0:FileIOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="BeginFill">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/BeginFill" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FileFill">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/FileFill" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveFill">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/RemoveFill" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveTempFile">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/RemoveTempFile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadFileAsString">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/ReadFileAsString" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBcpSharePath">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/GetBcpSharePath" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidateBcpShare">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/ValidateBcpShare" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBcpShareSpaceReport">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/GetBcpShareSpaceReport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultRepositorySpaceReport">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/GetDefaultRepositorySpaceReport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RepositoryVolumeMax">
      <soap:operation soapAction="http://foley.com/EDDS/FileManager/RepositoryVolumeMax" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FileIO">
    <port name="FileIOSoap" binding="s0:FileIOSoap">
      <soap:address location="http://localhost/EDDSWebAPI/FileIO.asmx" />
    </port>
  </service>
</definitions>