Web References/kCura.EDDS.WebAPI.FolderManagerBase/FolderManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/FolderManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/FolderManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/FolderManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RetrieveAllByCaseID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllByCaseIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllByCaseIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFolderAndDescendants">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="folderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFolderAndDescendantsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFolderAndDescendantsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="folderArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:Folder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Folder">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Guids" type="tns:ArrayOfGuid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReadIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="folderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="folderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Exists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="folderArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveIntitialChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveIntitialChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveIntitialChunkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNextChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastFolderID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNextChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveNextChunkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Folder" nillable="true" type="tns:Folder" />
      <s:element name="int" type="s:int" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveAllByCaseIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllByCaseID" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllByCaseIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllByCaseIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveFolderAndDescendantsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveFolderAndDescendants" />
  </wsdl:message>
  <wsdl:message name="RetrieveFolderAndDescendantsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveFolderAndDescendantsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ReadIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadID" />
  </wsdl:message>
  <wsdl:message name="ReadIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapIn">
    <wsdl:part name="parameters" element="tns:Exists" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveIntitialChunkSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveIntitialChunk" />
  </wsdl:message>
  <wsdl:message name="RetrieveIntitialChunkSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveIntitialChunkResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveNextChunkSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveNextChunk" />
  </wsdl:message>
  <wsdl:message name="RetrieveNextChunkSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveNextChunkResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllByCaseIDHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllByCaseIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveFolderAndDescendantsHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="folderID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveFolderAndDescendantsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="folderArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:Folder" />
  </wsdl:message>
  <wsdl:message name="ReadIDHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="parentArtifactID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadIDHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RetrieveHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="parentArtifactID" type="s:string" />
    <wsdl:part name="folderName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CreateHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="parentArtifactID" type="s:string" />
    <wsdl:part name="folderName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="folderArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="RetrieveIntitialChunkHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveIntitialChunkHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveNextChunkHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="lastFolderID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveNextChunkHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllByCaseIDHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllByCaseIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveFolderAndDescendantsHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="folderID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveFolderAndDescendantsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="folderArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:Folder" />
  </wsdl:message>
  <wsdl:message name="ReadIDHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="parentArtifactID" type="s:string" />
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadIDHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="RetrieveHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="parentArtifactID" type="s:string" />
    <wsdl:part name="folderName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CreateHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="parentArtifactID" type="s:string" />
    <wsdl:part name="folderName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="folderArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExistsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="RetrieveIntitialChunkHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveIntitialChunkHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveNextChunkHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="lastFolderID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveNextChunkHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="FolderManagerSoap">
    <wsdl:operation name="RetrieveAllByCaseID">
      <wsdl:input message="tns:RetrieveAllByCaseIDSoapIn" />
      <wsdl:output message="tns:RetrieveAllByCaseIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <wsdl:input message="tns:RetrieveFolderAndDescendantsSoapIn" />
      <wsdl:output message="tns:RetrieveFolderAndDescendantsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <wsdl:input message="tns:ReadIDSoapIn" />
      <wsdl:output message="tns:ReadIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input message="tns:RetrieveSoapIn" />
      <wsdl:output message="tns:RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input message="tns:ExistsSoapIn" />
      <wsdl:output message="tns:ExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <wsdl:input message="tns:RetrieveIntitialChunkSoapIn" />
      <wsdl:output message="tns:RetrieveIntitialChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <wsdl:input message="tns:RetrieveNextChunkSoapIn" />
      <wsdl:output message="tns:RetrieveNextChunkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FolderManagerHttpGet">
    <wsdl:operation name="RetrieveAllByCaseID">
      <wsdl:input message="tns:RetrieveAllByCaseIDHttpGetIn" />
      <wsdl:output message="tns:RetrieveAllByCaseIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <wsdl:input message="tns:RetrieveFolderAndDescendantsHttpGetIn" />
      <wsdl:output message="tns:RetrieveFolderAndDescendantsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <wsdl:input message="tns:ReadIDHttpGetIn" />
      <wsdl:output message="tns:ReadIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input message="tns:RetrieveHttpGetIn" />
      <wsdl:output message="tns:RetrieveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateHttpGetIn" />
      <wsdl:output message="tns:CreateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input message="tns:ExistsHttpGetIn" />
      <wsdl:output message="tns:ExistsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <wsdl:input message="tns:RetrieveIntitialChunkHttpGetIn" />
      <wsdl:output message="tns:RetrieveIntitialChunkHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <wsdl:input message="tns:RetrieveNextChunkHttpGetIn" />
      <wsdl:output message="tns:RetrieveNextChunkHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FolderManagerHttpPost">
    <wsdl:operation name="RetrieveAllByCaseID">
      <wsdl:input message="tns:RetrieveAllByCaseIDHttpPostIn" />
      <wsdl:output message="tns:RetrieveAllByCaseIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <wsdl:input message="tns:RetrieveFolderAndDescendantsHttpPostIn" />
      <wsdl:output message="tns:RetrieveFolderAndDescendantsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <wsdl:input message="tns:ReadIDHttpPostIn" />
      <wsdl:output message="tns:ReadIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input message="tns:RetrieveHttpPostIn" />
      <wsdl:output message="tns:RetrieveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateHttpPostIn" />
      <wsdl:output message="tns:CreateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input message="tns:ExistsHttpPostIn" />
      <wsdl:output message="tns:ExistsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <wsdl:input message="tns:RetrieveIntitialChunkHttpPostIn" />
      <wsdl:output message="tns:RetrieveIntitialChunkHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <wsdl:input message="tns:RetrieveNextChunkHttpPostIn" />
      <wsdl:output message="tns:RetrieveNextChunkHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FolderManagerSoap" type="tns:FolderManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllByCaseID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveAllByCaseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveFolderAndDescendants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/ReadID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Exists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveIntitialChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveNextChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FolderManagerSoap12" type="tns:FolderManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllByCaseID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveAllByCaseID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveFolderAndDescendants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/ReadID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/Exists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveIntitialChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FolderManager/RetrieveNextChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FolderManagerHttpGet" type="tns:FolderManagerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetrieveAllByCaseID">
      <http:operation location="/RetrieveAllByCaseID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <http:operation location="/RetrieveFolderAndDescendants" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <http:operation location="/ReadID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <http:operation location="/Retrieve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <http:operation location="/Create" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <http:operation location="/Exists" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <http:operation location="/RetrieveIntitialChunk" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <http:operation location="/RetrieveNextChunk" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FolderManagerHttpPost" type="tns:FolderManagerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetrieveAllByCaseID">
      <http:operation location="/RetrieveAllByCaseID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFolderAndDescendants">
      <http:operation location="/RetrieveFolderAndDescendants" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <http:operation location="/ReadID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <http:operation location="/Retrieve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <http:operation location="/Create" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <http:operation location="/Exists" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIntitialChunk">
      <http:operation location="/RetrieveIntitialChunk" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNextChunk">
      <http:operation location="/RetrieveNextChunk" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FolderManager">
    <wsdl:port name="FolderManagerSoap" binding="tns:FolderManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/FolderManager.asmx" />
    </wsdl:port>
    <wsdl:port name="FolderManagerSoap12" binding="tns:FolderManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/FolderManager.asmx" />
    </wsdl:port>
    <wsdl:port name="FolderManagerHttpGet" binding="tns:FolderManagerHttpGet">
      <http:address location="http://localhost/RelativityWebApi/FolderManager.asmx" />
    </wsdl:port>
    <wsdl:port name="FolderManagerHttpPost" binding="tns:FolderManagerHttpPost">
      <http:address location="http://localhost/RelativityWebApi/FolderManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>