Web References/kCura.EDDS.WebAPI.AuditManagerBase/AuditManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/AuditManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/AuditManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/AuditManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateAuditRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="origination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAuditRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAuditRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditImageImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isFatalError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="importStats" type="s0:ImageImportStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImageImportStatistics">
        <s:complexContent mixed="false">
          <s:extension base="s0:ImportStatistics">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextReplaced" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SupportImageAutoNumbering" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DestinationProductionArtifactID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ImportStatistics" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RepositoryConnection" type="s0:RepositoryConnectionType" />
          <s:element minOccurs="1" maxOccurs="1" name="Overwrite" type="s0:OverwriteType" />
          <s:element minOccurs="1" maxOccurs="1" name="OverlayIdentifierFieldArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationFolderArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartLine" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FilesCopiedToRepository" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFileSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMetadataBytes" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfDocumentsCreated" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfDocumentsUpdated" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfFilesLoaded" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfErrors" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfWarnings" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTimeInMilliseconds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendNotification" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RepositoryConnectionType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="Direct" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OverwriteType">
        <s:restriction base="s:string">
          <s:enumeration value="Append" />
          <s:enumeration value="Overlay" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AuditImageImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditImageImportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditObjectImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isFatalError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="importStats" type="s0:ObjectImportStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObjectImportStatistics">
        <s:complexContent mixed="false">
          <s:extension base="s0:ImportStatistics">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Delimiter" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="Bound" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="NewlineProxy" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="MultiValueDelimiter" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="LoadFileEncodingCodePageID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextFileEncodingCodePageID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FolderColumnName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileFieldColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextPointsToFile" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfChoicesCreated" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfFoldersCreated" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FieldsMapped" type="s0:ArrayOfArrayOfInt" />
              <s:element minOccurs="1" maxOccurs="1" name="NestedValueDelimiter" type="s1:char" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfInt" nillable="true" type="s0:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuditObjectImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditObjectImportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isFatalError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="exportStats" type="s0:ExportStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExportStatistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="s0:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationFilesystemFolder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OverwriteFiles" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VolumePrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VolumeMaxSize" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SubdirectoryImagePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubdirectoryNativePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubdirectoryTextPrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubdirectoryStartNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SubdirectoryMaxFileCount" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePathSettings" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Delimiter" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="Bound" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="NewlineProxy" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="MultiValueDelimiter" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="NestedValueDelimiter" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="TextAndNativeFilesNamedAfterFieldID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AppendOriginalFilenames" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportImages" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageLoadFileFormat" type="s0:ImageLoadFileFormatType" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageFileType" type="s0:ImageFileExportType" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportNativeFiles" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MetadataLoadFileFormat" type="s0:LoadFileFormat" />
          <s:element minOccurs="1" maxOccurs="1" name="MetadataLoadFileEncodingCodePage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportTextFieldAsFiles" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportedTextFileEncodingCodePage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportedTextFieldID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportMultipleChoiceFieldsAsNested" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFileBytesExported" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMetadataBytesExported" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WarningCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentExportCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FileExportCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImagesToExport" type="s0:ImagesToExportType" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductionPrecedence" type="s0:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="DataSourceArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceRootFolderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTimeInMilliseconds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CopyFilesFromRepository" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="StartExportAtDocumentNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VolumeStartNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ImageLoadFileFormatType">
        <s:restriction base="s:string">
          <s:enumeration value="Opticon" />
          <s:enumeration value="Ipro" />
          <s:enumeration value="IproFullText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImageFileExportType">
        <s:restriction base="s:string">
          <s:enumeration value="SinglePage" />
          <s:enumeration value="MultiPageTiff" />
          <s:enumeration value="PDF" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="LoadFileFormat">
        <s:restriction base="s:string">
          <s:enumeration value="Csv" />
          <s:enumeration value="Dat" />
          <s:enumeration value="Custom" />
          <s:enumeration value="Html" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImagesToExportType">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Produced" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AuditExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditExportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </types>
  <message name="CreateAuditRecordSoapIn">
    <part name="parameters" element="s0:CreateAuditRecord" />
  </message>
  <message name="CreateAuditRecordSoapOut">
    <part name="parameters" element="s0:CreateAuditRecordResponse" />
  </message>
  <message name="AuditImageImportSoapIn">
    <part name="parameters" element="s0:AuditImageImport" />
  </message>
  <message name="AuditImageImportSoapOut">
    <part name="parameters" element="s0:AuditImageImportResponse" />
  </message>
  <message name="AuditObjectImportSoapIn">
    <part name="parameters" element="s0:AuditObjectImport" />
  </message>
  <message name="AuditObjectImportSoapOut">
    <part name="parameters" element="s0:AuditObjectImportResponse" />
  </message>
  <message name="AuditExportSoapIn">
    <part name="parameters" element="s0:AuditExport" />
  </message>
  <message name="AuditExportSoapOut">
    <part name="parameters" element="s0:AuditExportResponse" />
  </message>
  <portType name="AuditManagerSoap">
    <operation name="CreateAuditRecord">
      <input message="s0:CreateAuditRecordSoapIn" />
      <output message="s0:CreateAuditRecordSoapOut" />
    </operation>
    <operation name="AuditImageImport">
      <input message="s0:AuditImageImportSoapIn" />
      <output message="s0:AuditImageImportSoapOut" />
    </operation>
    <operation name="AuditObjectImport">
      <input message="s0:AuditObjectImportSoapIn" />
      <output message="s0:AuditObjectImportSoapOut" />
    </operation>
    <operation name="AuditExport">
      <input message="s0:AuditExportSoapIn" />
      <output message="s0:AuditExportSoapOut" />
    </operation>
  </portType>
  <binding name="AuditManagerSoap" type="s0:AuditManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CreateAuditRecord">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/CreateAuditRecord" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuditImageImport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditImageImport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuditObjectImport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditObjectImport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuditExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditExport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AuditManager">
    <port name="AuditManagerSoap" binding="s0:AuditManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/AuditManager.asmx" />
    </port>
  </service>
</definitions>