Web References/kCura.EDDS.WebAPI.RelativityManagerBase/RelativityManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/RelativityManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/RelativityManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/RelativityManager">
      <s:element name="RetrieveCurrencySymbol">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveCurrencySymbolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCurrencySymbolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveRelativityVersion">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveRelativityVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRelativityVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSuccessfulLogin">
        <s:complexType />
      </s:element>
      <s:element name="ValidateSuccessfulLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateSuccessfulLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerTimezoneOffset">
        <s:complexType />
      </s:element>
      <s:element name="GetServerTimezoneOffsetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerTimezoneOffsetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAuditingEnabled">
        <s:complexType />
      </s:element>
      <s:element name="IsAuditingEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAuditingEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsImportEmailNotificationEnabled">
        <s:complexType />
      </s:element>
      <s:element name="IsImportEmailNotificationEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsImportEmailNotificationEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveRdcConfiguration">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveRdcConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRdcConfigurationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReceiveTextResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstanceInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetInstanceInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInstanceInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveCurrencySymbolSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCurrencySymbol" />
  </wsdl:message>
  <wsdl:message name="RetrieveCurrencySymbolSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCurrencySymbolResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveRelativityVersionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveRelativityVersion" />
  </wsdl:message>
  <wsdl:message name="RetrieveRelativityVersionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveRelativityVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSuccessfulLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateSuccessfulLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateSuccessfulLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateSuccessfulLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerTimezoneOffsetSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerTimezoneOffset" />
  </wsdl:message>
  <wsdl:message name="GetServerTimezoneOffsetSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerTimezoneOffsetResponse" />
  </wsdl:message>
  <wsdl:message name="IsAuditingEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:IsAuditingEnabled" />
  </wsdl:message>
  <wsdl:message name="IsAuditingEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:IsAuditingEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="IsImportEmailNotificationEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:IsImportEmailNotificationEnabled" />
  </wsdl:message>
  <wsdl:message name="IsImportEmailNotificationEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:IsImportEmailNotificationEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveRdcConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveRdcConfiguration" />
  </wsdl:message>
  <wsdl:message name="RetrieveRdcConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveRdcConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveTextSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveText" />
  </wsdl:message>
  <wsdl:message name="ReceiveTextSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveTextResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstanceInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstanceInformation" />
  </wsdl:message>
  <wsdl:message name="GetInstanceInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstanceInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="RelativityManagerSoap">
    <wsdl:operation name="RetrieveCurrencySymbol">
      <wsdl:input message="tns:RetrieveCurrencySymbolSoapIn" />
      <wsdl:output message="tns:RetrieveCurrencySymbolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativityVersion">
      <wsdl:input message="tns:RetrieveRelativityVersionSoapIn" />
      <wsdl:output message="tns:RetrieveRelativityVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSuccessfulLogin">
      <wsdl:input message="tns:ValidateSuccessfulLoginSoapIn" />
      <wsdl:output message="tns:ValidateSuccessfulLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerTimezoneOffset">
      <wsdl:input message="tns:GetServerTimezoneOffsetSoapIn" />
      <wsdl:output message="tns:GetServerTimezoneOffsetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAuditingEnabled">
      <wsdl:input message="tns:IsAuditingEnabledSoapIn" />
      <wsdl:output message="tns:IsAuditingEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsImportEmailNotificationEnabled">
      <wsdl:input message="tns:IsImportEmailNotificationEnabledSoapIn" />
      <wsdl:output message="tns:IsImportEmailNotificationEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRdcConfiguration">
      <wsdl:input message="tns:RetrieveRdcConfigurationSoapIn" />
      <wsdl:output message="tns:RetrieveRdcConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveText">
      <wsdl:input message="tns:ReceiveTextSoapIn" />
      <wsdl:output message="tns:ReceiveTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstanceInformation">
      <wsdl:input message="tns:GetInstanceInformationSoapIn" />
      <wsdl:output message="tns:GetInstanceInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RelativityManagerSoap" type="tns:RelativityManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCurrencySymbol">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveCurrencySymbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativityVersion">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRelativityVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSuccessfulLogin">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ValidateSuccessfulLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerTimezoneOffset">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/GetServerTimezoneOffset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAuditingEnabled">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/IsAuditingEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsImportEmailNotificationEnabled">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/IsImportEmailNotificationEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRdcConfiguration">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRdcConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveText">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ReceiveText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstanceInformation">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/GetInstanceInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RelativityManagerSoap12" type="tns:RelativityManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCurrencySymbol">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveCurrencySymbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRelativityVersion">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRelativityVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSuccessfulLogin">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ValidateSuccessfulLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerTimezoneOffset">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/GetServerTimezoneOffset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAuditingEnabled">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/IsAuditingEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsImportEmailNotificationEnabled">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/IsImportEmailNotificationEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveRdcConfiguration">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRdcConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveText">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ReceiveText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstanceInformation">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/GetInstanceInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelativityManager">
    <wsdl:port name="RelativityManagerSoap" binding="tns:RelativityManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/RelativityManager.asmx" />
    </wsdl:port>
    <wsdl:port name="RelativityManagerSoap12" binding="tns:RelativityManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/RelativityManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>