Web References/kCura.EDDS.WebAPI.RelativityManagerBase/RelativityManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/RelativityManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/RelativityManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/RelativityManager">
      <s:element name="RetrieveRelativityVersion">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveRelativityVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRelativityVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSuccessfulLogin">
        <s:complexType />
      </s:element>
      <s:element name="ValidateSuccessfulLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateSuccessfulLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RetrieveRelativityVersionSoapIn">
    <part name="parameters" element="s0:RetrieveRelativityVersion" />
  </message>
  <message name="RetrieveRelativityVersionSoapOut">
    <part name="parameters" element="s0:RetrieveRelativityVersionResponse" />
  </message>
  <message name="ValidateSuccessfulLoginSoapIn">
    <part name="parameters" element="s0:ValidateSuccessfulLogin" />
  </message>
  <message name="ValidateSuccessfulLoginSoapOut">
    <part name="parameters" element="s0:ValidateSuccessfulLoginResponse" />
  </message>
  <portType name="RelativityManagerSoap">
    <operation name="RetrieveRelativityVersion">
      <input message="s0:RetrieveRelativityVersionSoapIn" />
      <output message="s0:RetrieveRelativityVersionSoapOut" />
    </operation>
    <operation name="ValidateSuccessfulLogin">
      <input message="s0:ValidateSuccessfulLoginSoapIn" />
      <output message="s0:ValidateSuccessfulLoginSoapOut" />
    </operation>
  </portType>
  <binding name="RelativityManagerSoap" type="s0:RelativityManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveRelativityVersion">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRelativityVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidateSuccessfulLogin">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ValidateSuccessfulLogin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RelativityManager">
    <port name="RelativityManagerSoap" binding="s0:RelativityManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/RelativityManager.asmx" />
    </port>
  </service>
</definitions>