Web References/kCura.EDDS.WebAPI.RelativityManagerBase/RelativityManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.kCura.com/EDDS/RelativityManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/RelativityManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/RelativityManager">
      <s:element name="RetrieveRelativityVersion">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveRelativityVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRelativityVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveRelativityVersionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveRelativityVersion" />
  </wsdl:message>
  <wsdl:message name="RetrieveRelativityVersionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveRelativityVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="RelativityManagerSoap">
    <wsdl:operation name="RetrieveRelativityVersion">
      <wsdl:input message="tns:RetrieveRelativityVersionSoapIn" />
      <wsdl:output message="tns:RetrieveRelativityVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RelativityManagerSoap" type="tns:RelativityManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveRelativityVersion">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRelativityVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelativityManager">
    <wsdl:port name="RelativityManagerSoap" binding="tns:RelativityManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/RelativityManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>