Web References/kCura.EDDS.WebAPI.RelativityManagerBase/RelativityManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/RelativityManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/RelativityManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/RelativityManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveRelativityVersion">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveRelativityVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRelativityVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSuccessfulLogin">
        <s:complexType />
      </s:element>
      <s:element name="ValidateSuccessfulLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateSuccessfulLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerTimezoneOffset">
        <s:complexType />
      </s:element>
      <s:element name="GetServerTimezoneOffsetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetServerTimezoneOffsetResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAuditingEnabled">
        <s:complexType />
      </s:element>
      <s:element name="IsAuditingEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAuditingEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsImportEmailNotificationEnabled">
        <s:complexType />
      </s:element>
      <s:element name="IsImportEmailNotificationEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsImportEmailNotificationEnabledResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveRdcConfiguration">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveRdcConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveRdcConfigurationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReceiveTextResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RetrieveRelativityVersionSoapIn">
    <part name="parameters" element="s0:RetrieveRelativityVersion" />
  </message>
  <message name="RetrieveRelativityVersionSoapOut">
    <part name="parameters" element="s0:RetrieveRelativityVersionResponse" />
  </message>
  <message name="ValidateSuccessfulLoginSoapIn">
    <part name="parameters" element="s0:ValidateSuccessfulLogin" />
  </message>
  <message name="ValidateSuccessfulLoginSoapOut">
    <part name="parameters" element="s0:ValidateSuccessfulLoginResponse" />
  </message>
  <message name="GetServerTimezoneOffsetSoapIn">
    <part name="parameters" element="s0:GetServerTimezoneOffset" />
  </message>
  <message name="GetServerTimezoneOffsetSoapOut">
    <part name="parameters" element="s0:GetServerTimezoneOffsetResponse" />
  </message>
  <message name="IsAuditingEnabledSoapIn">
    <part name="parameters" element="s0:IsAuditingEnabled" />
  </message>
  <message name="IsAuditingEnabledSoapOut">
    <part name="parameters" element="s0:IsAuditingEnabledResponse" />
  </message>
  <message name="IsImportEmailNotificationEnabledSoapIn">
    <part name="parameters" element="s0:IsImportEmailNotificationEnabled" />
  </message>
  <message name="IsImportEmailNotificationEnabledSoapOut">
    <part name="parameters" element="s0:IsImportEmailNotificationEnabledResponse" />
  </message>
  <message name="RetrieveRdcConfigurationSoapIn">
    <part name="parameters" element="s0:RetrieveRdcConfiguration" />
  </message>
  <message name="RetrieveRdcConfigurationSoapOut">
    <part name="parameters" element="s0:RetrieveRdcConfigurationResponse" />
  </message>
  <message name="PingSoapIn">
    <part name="parameters" element="s0:Ping" />
  </message>
  <message name="PingSoapOut">
    <part name="parameters" element="s0:PingResponse" />
  </message>
  <message name="ReceiveTextSoapIn">
    <part name="parameters" element="s0:ReceiveText" />
  </message>
  <message name="ReceiveTextSoapOut">
    <part name="parameters" element="s0:ReceiveTextResponse" />
  </message>
  <portType name="RelativityManagerSoap">
    <operation name="RetrieveRelativityVersion">
      <input message="s0:RetrieveRelativityVersionSoapIn" />
      <output message="s0:RetrieveRelativityVersionSoapOut" />
    </operation>
    <operation name="ValidateSuccessfulLogin">
      <input message="s0:ValidateSuccessfulLoginSoapIn" />
      <output message="s0:ValidateSuccessfulLoginSoapOut" />
    </operation>
    <operation name="GetServerTimezoneOffset">
      <input message="s0:GetServerTimezoneOffsetSoapIn" />
      <output message="s0:GetServerTimezoneOffsetSoapOut" />
    </operation>
    <operation name="IsAuditingEnabled">
      <input message="s0:IsAuditingEnabledSoapIn" />
      <output message="s0:IsAuditingEnabledSoapOut" />
    </operation>
    <operation name="IsImportEmailNotificationEnabled">
      <input message="s0:IsImportEmailNotificationEnabledSoapIn" />
      <output message="s0:IsImportEmailNotificationEnabledSoapOut" />
    </operation>
    <operation name="RetrieveRdcConfiguration">
      <input message="s0:RetrieveRdcConfigurationSoapIn" />
      <output message="s0:RetrieveRdcConfigurationSoapOut" />
    </operation>
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="ReceiveText">
      <input message="s0:ReceiveTextSoapIn" />
      <output message="s0:ReceiveTextSoapOut" />
    </operation>
  </portType>
  <binding name="RelativityManagerSoap" type="s0:RelativityManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveRelativityVersion">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRelativityVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidateSuccessfulLogin">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ValidateSuccessfulLogin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServerTimezoneOffset">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/GetServerTimezoneOffset" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsAuditingEnabled">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/IsAuditingEnabled" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsImportEmailNotificationEnabled">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/IsImportEmailNotificationEnabled" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveRdcConfiguration">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/RetrieveRdcConfiguration" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Ping">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/Ping" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReceiveText">
      <soap:operation soapAction="http://www.kCura.com/EDDS/RelativityManager/ReceiveText" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RelativityManager">
    <port name="RelativityManagerSoap" binding="s0:RelativityManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/RelativityManager.asmx" />
    </port>
  </service>
</definitions>