Web References/kCura.EDDS.WebAPI.CaseManagerBase/CaseManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/CaseManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/CaseManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/CaseManager">
      <s:element name="RetrieveAll">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseInfo" type="tns:CaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CaseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatterArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCodeArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootFolderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadHandlerURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCaseArtifact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseInfo" type="tns:ExtendedCaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExtendedCaseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatterArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourceGroupArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCodeArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadHandlerApplicationPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultFileLocationCodeArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultFileLocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SqlFullTextLcid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MasterDBLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RootArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootFolderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dtSearchIndexShare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SQLServerProductVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateCaseArtifactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCaseArtifactResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:CaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostRestore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseInfo" type="tns:ExtendedCaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostRestoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveCaseDownloadURI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCaseDownloadURIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCaseDownloadURIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDocumentFolderPathsForCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDocumentFolderPathsForCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDocumentFolderPathsForCaseResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllDocumentFolderPaths">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDocumentFolderPathsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDocumentFolderPathsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="CaseInfo" nillable="true" type="tns:CaseInfo" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveAllSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAll" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCaseArtifactSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCaseArtifact" />
  </wsdl:message>
  <wsdl:message name="CreateCaseArtifactSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCaseArtifactResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePostRestoreSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePostRestore" />
  </wsdl:message>
  <wsdl:message name="UpdatePostRestoreSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePostRestoreResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCaseDownloadURISoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCaseDownloadURI" />
  </wsdl:message>
  <wsdl:message name="RetrieveCaseDownloadURISoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCaseDownloadURIResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsForCaseSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDocumentFolderPathsForCase" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsForCaseSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDocumentFolderPathsForCaseResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDocumentFolderPaths" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDocumentFolderPathsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllHttpGetIn" />
  <wsdl:message name="RetrieveAllHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpGetOut">
    <wsdl:part name="Body" element="tns:CaseInfo" />
  </wsdl:message>
  <wsdl:message name="RetrieveCaseDownloadURIHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveCaseDownloadURIHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsForCaseHttpGetIn">
    <wsdl:part name="caseArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsForCaseHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsHttpGetIn" />
  <wsdl:message name="GetAllDocumentFolderPathsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllHttpPostIn" />
  <wsdl:message name="RetrieveAllHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadHttpPostOut">
    <wsdl:part name="Body" element="tns:CaseInfo" />
  </wsdl:message>
  <wsdl:message name="RetrieveCaseDownloadURIHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveCaseDownloadURIHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsForCaseHttpPostIn">
    <wsdl:part name="caseArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsForCaseHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetAllDocumentFolderPathsHttpPostIn" />
  <wsdl:message name="GetAllDocumentFolderPathsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="CaseManagerSoap">
    <wsdl:operation name="RetrieveAll">
      <wsdl:input message="tns:RetrieveAllSoapIn" />
      <wsdl:output message="tns:RetrieveAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCaseArtifact">
      <wsdl:input message="tns:CreateCaseArtifactSoapIn" />
      <wsdl:output message="tns:CreateCaseArtifactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePostRestore">
      <wsdl:input message="tns:UpdatePostRestoreSoapIn" />
      <wsdl:output message="tns:UpdatePostRestoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <wsdl:input message="tns:RetrieveCaseDownloadURISoapIn" />
      <wsdl:output message="tns:RetrieveCaseDownloadURISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <wsdl:input message="tns:GetAllDocumentFolderPathsForCaseSoapIn" />
      <wsdl:output message="tns:GetAllDocumentFolderPathsForCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <wsdl:input message="tns:GetAllDocumentFolderPathsSoapIn" />
      <wsdl:output message="tns:GetAllDocumentFolderPathsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CaseManagerHttpGet">
    <wsdl:operation name="RetrieveAll">
      <wsdl:input message="tns:RetrieveAllHttpGetIn" />
      <wsdl:output message="tns:RetrieveAllHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpGetIn" />
      <wsdl:output message="tns:DeleteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpGetIn" />
      <wsdl:output message="tns:ReadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <wsdl:input message="tns:RetrieveCaseDownloadURIHttpGetIn" />
      <wsdl:output message="tns:RetrieveCaseDownloadURIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <wsdl:input message="tns:GetAllDocumentFolderPathsForCaseHttpGetIn" />
      <wsdl:output message="tns:GetAllDocumentFolderPathsForCaseHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <wsdl:input message="tns:GetAllDocumentFolderPathsHttpGetIn" />
      <wsdl:output message="tns:GetAllDocumentFolderPathsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CaseManagerHttpPost">
    <wsdl:operation name="RetrieveAll">
      <wsdl:input message="tns:RetrieveAllHttpPostIn" />
      <wsdl:output message="tns:RetrieveAllHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteHttpPostIn" />
      <wsdl:output message="tns:DeleteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadHttpPostIn" />
      <wsdl:output message="tns:ReadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <wsdl:input message="tns:RetrieveCaseDownloadURIHttpPostIn" />
      <wsdl:output message="tns:RetrieveCaseDownloadURIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <wsdl:input message="tns:GetAllDocumentFolderPathsForCaseHttpPostIn" />
      <wsdl:output message="tns:GetAllDocumentFolderPathsForCaseHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <wsdl:input message="tns:GetAllDocumentFolderPathsHttpPostIn" />
      <wsdl:output message="tns:GetAllDocumentFolderPathsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaseManagerSoap" type="tns:CaseManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAll">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/RetrieveAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCaseArtifact">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/CreateCaseArtifact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostRestore">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/UpdatePostRestore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/RetrieveCaseDownloadURI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/GetAllDocumentFolderPathsForCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/GetAllDocumentFolderPaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseManagerSoap12" type="tns:CaseManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAll">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/RetrieveAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCaseArtifact">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/CreateCaseArtifact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostRestore">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/UpdatePostRestore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/RetrieveCaseDownloadURI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/GetAllDocumentFolderPathsForCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/CaseManager/GetAllDocumentFolderPaths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseManagerHttpGet" type="tns:CaseManagerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetrieveAll">
      <http:operation location="/RetrieveAll" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <http:operation location="/RetrieveCaseDownloadURI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <http:operation location="/GetAllDocumentFolderPathsForCase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <http:operation location="/GetAllDocumentFolderPaths" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseManagerHttpPost" type="tns:CaseManagerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetrieveAll">
      <http:operation location="/RetrieveAll" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <http:operation location="/Delete" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <http:operation location="/Read" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCaseDownloadURI">
      <http:operation location="/RetrieveCaseDownloadURI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPathsForCase">
      <http:operation location="/GetAllDocumentFolderPathsForCase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentFolderPaths">
      <http:operation location="/GetAllDocumentFolderPaths" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseManager">
    <wsdl:port name="CaseManagerSoap" binding="tns:CaseManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/CaseManager.asmx" />
    </wsdl:port>
    <wsdl:port name="CaseManagerSoap12" binding="tns:CaseManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/CaseManager.asmx" />
    </wsdl:port>
    <wsdl:port name="CaseManagerHttpGet" binding="tns:CaseManagerHttpGet">
      <http:address location="http://localhost/RelativityWebApi/CaseManager.asmx" />
    </wsdl:port>
    <wsdl:port name="CaseManagerHttpPost" binding="tns:CaseManagerHttpPost">
      <http:address location="http://localhost/RelativityWebApi/CaseManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>