Web References/kCura.EDDS.WebAPI.CaseManagerBase/CaseManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/CaseManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/CaseManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/CaseManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveAll">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseInfo" type="s0:CaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CaseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatterArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCodeArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootFolderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadHandlerURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCaseArtifact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseInfo" type="s0:ExtendedCaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExtendedCaseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatterArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCodeArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DownloadHandlerApplicationPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultFileLocationCodeArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DefaultFileLocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SqlFullTextLcid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MasterDBLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RootArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RootFolderID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dtSearchIndexShare" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SQLServerProductVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateCaseArtifactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCaseArtifactResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="s0:CaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostRestore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseInfo" type="s0:ExtendedCaseInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostRestoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveCaseDownloadURI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCaseDownloadURIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCaseDownloadURIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDocumentFolderPaths">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDocumentFolderPathsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDocumentFolderPathsResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="RetrieveAllSoapIn">
    <part name="parameters" element="s0:RetrieveAll" />
  </message>
  <message name="RetrieveAllSoapOut">
    <part name="parameters" element="s0:RetrieveAllResponse" />
  </message>
  <message name="CreateSoapIn">
    <part name="parameters" element="s0:Create" />
  </message>
  <message name="CreateSoapOut">
    <part name="parameters" element="s0:CreateResponse" />
  </message>
  <message name="CreateCaseArtifactSoapIn">
    <part name="parameters" element="s0:CreateCaseArtifact" />
  </message>
  <message name="CreateCaseArtifactSoapOut">
    <part name="parameters" element="s0:CreateCaseArtifactResponse" />
  </message>
  <message name="DeleteSoapIn">
    <part name="parameters" element="s0:Delete" />
  </message>
  <message name="DeleteSoapOut">
    <part name="parameters" element="s0:DeleteResponse" />
  </message>
  <message name="ReadSoapIn">
    <part name="parameters" element="s0:Read" />
  </message>
  <message name="ReadSoapOut">
    <part name="parameters" element="s0:ReadResponse" />
  </message>
  <message name="UpdatePostRestoreSoapIn">
    <part name="parameters" element="s0:UpdatePostRestore" />
  </message>
  <message name="UpdatePostRestoreSoapOut">
    <part name="parameters" element="s0:UpdatePostRestoreResponse" />
  </message>
  <message name="RetrieveCaseDownloadURISoapIn">
    <part name="parameters" element="s0:RetrieveCaseDownloadURI" />
  </message>
  <message name="RetrieveCaseDownloadURISoapOut">
    <part name="parameters" element="s0:RetrieveCaseDownloadURIResponse" />
  </message>
  <message name="GetAllDocumentFolderPathsSoapIn">
    <part name="parameters" element="s0:GetAllDocumentFolderPaths" />
  </message>
  <message name="GetAllDocumentFolderPathsSoapOut">
    <part name="parameters" element="s0:GetAllDocumentFolderPathsResponse" />
  </message>
  <portType name="CaseManagerSoap">
    <operation name="RetrieveAll">
      <input message="s0:RetrieveAllSoapIn" />
      <output message="s0:RetrieveAllSoapOut" />
    </operation>
    <operation name="Create">
      <input message="s0:CreateSoapIn" />
      <output message="s0:CreateSoapOut" />
    </operation>
    <operation name="CreateCaseArtifact">
      <input message="s0:CreateCaseArtifactSoapIn" />
      <output message="s0:CreateCaseArtifactSoapOut" />
    </operation>
    <operation name="Delete">
      <input message="s0:DeleteSoapIn" />
      <output message="s0:DeleteSoapOut" />
    </operation>
    <operation name="Read">
      <input message="s0:ReadSoapIn" />
      <output message="s0:ReadSoapOut" />
    </operation>
    <operation name="UpdatePostRestore">
      <input message="s0:UpdatePostRestoreSoapIn" />
      <output message="s0:UpdatePostRestoreSoapOut" />
    </operation>
    <operation name="RetrieveCaseDownloadURI">
      <input message="s0:RetrieveCaseDownloadURISoapIn" />
      <output message="s0:RetrieveCaseDownloadURISoapOut" />
    </operation>
    <operation name="GetAllDocumentFolderPaths">
      <input message="s0:GetAllDocumentFolderPathsSoapIn" />
      <output message="s0:GetAllDocumentFolderPathsSoapOut" />
    </operation>
  </portType>
  <binding name="CaseManagerSoap" type="s0:CaseManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveAll">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/RetrieveAll" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Create">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Create" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateCaseArtifact">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/CreateCaseArtifact" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Delete">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Delete" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/Read" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdatePostRestore">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/UpdatePostRestore" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveCaseDownloadURI">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/RetrieveCaseDownloadURI" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAllDocumentFolderPaths">
      <soap:operation soapAction="http://www.kCura.com/EDDS/CaseManager/GetAllDocumentFolderPaths" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CaseManager">
    <port name="CaseManagerSoap" binding="s0:CaseManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/CaseManager.asmx" />
    </port>
  </service>
</definitions>