Web References/kCura.EDDS.WebAPI.SearchManagerBase/SearchManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/SearchManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/SearchManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/SearchManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="CountSearchByArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountSearchByArtifactIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBySearchArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="finish" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="s0:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="displayMulticodesAsNested" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nestedValueDelimiter" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchBySearchArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBySearchArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchSQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveNativesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFilesForDynamicObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileFieldArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="objectIds" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFilesForDynamicObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFilesForDynamicObjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveNativesForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFullTextExistenceForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFullTextExistenceForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFullTextExistenceForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExtractedTextUnicode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExtractedTextUnicodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsExtractedTextUnicodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="productionArtifactIDs" type="s0:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionIDsAndDocumentIDsForExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesByProductionIDsAndDocumentIDsForExportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveViewsByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isSearch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveViewsByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveViewsByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchFieldsForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByParentArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchSubFolders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByParentArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountSearchByParentArtifactIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByParentArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchSubFolders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="finish" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="s0:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="displayMulticodesAsNested" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nestedValueDelimiter" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByParentArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByParentArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByProductionArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="finish" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfids" type="s0:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="displayMulticodesAsNested" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="nestedValueDelimiter" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByProductionArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByProductionArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByProductionArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByProductionArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountSearchByProductionArtifactIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDefaultViewFieldsForIdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="artifactIdList" type="s0:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="isProductionList" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDefaultViewFieldsForIdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDefaultViewFieldsForIdListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllExportableViewFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllExportableViewFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllExportableViewFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </types>
  <message name="CountSearchByArtifactIDSoapIn">
    <part name="parameters" element="s0:CountSearchByArtifactID" />
  </message>
  <message name="CountSearchByArtifactIDSoapOut">
    <part name="parameters" element="s0:CountSearchByArtifactIDResponse" />
  </message>
  <message name="SearchBySearchArtifactIDSoapIn">
    <part name="parameters" element="s0:SearchBySearchArtifactID" />
  </message>
  <message name="SearchBySearchArtifactIDSoapOut">
    <part name="parameters" element="s0:SearchBySearchArtifactIDResponse" />
  </message>
  <message name="GetSearchSQLSoapIn">
    <part name="parameters" element="s0:GetSearchSQL" />
  </message>
  <message name="GetSearchSQLSoapOut">
    <part name="parameters" element="s0:GetSearchSQLResponse" />
  </message>
  <message name="RetrieveNativesForSearchSoapIn">
    <part name="parameters" element="s0:RetrieveNativesForSearch" />
  </message>
  <message name="RetrieveNativesForSearchSoapOut">
    <part name="parameters" element="s0:RetrieveNativesForSearchResponse" />
  </message>
  <message name="RetrieveFilesForDynamicObjectsSoapIn">
    <part name="parameters" element="s0:RetrieveFilesForDynamicObjects" />
  </message>
  <message name="RetrieveFilesForDynamicObjectsSoapOut">
    <part name="parameters" element="s0:RetrieveFilesForDynamicObjectsResponse" />
  </message>
  <message name="RetrieveNativesForProductionSoapIn">
    <part name="parameters" element="s0:RetrieveNativesForProduction" />
  </message>
  <message name="RetrieveNativesForProductionSoapOut">
    <part name="parameters" element="s0:RetrieveNativesForProductionResponse" />
  </message>
  <message name="RetrieveFullTextExistenceForSearchSoapIn">
    <part name="parameters" element="s0:RetrieveFullTextExistenceForSearch" />
  </message>
  <message name="RetrieveFullTextExistenceForSearchSoapOut">
    <part name="parameters" element="s0:RetrieveFullTextExistenceForSearchResponse" />
  </message>
  <message name="IsExtractedTextUnicodeSoapIn">
    <part name="parameters" element="s0:IsExtractedTextUnicode" />
  </message>
  <message name="IsExtractedTextUnicodeSoapOut">
    <part name="parameters" element="s0:IsExtractedTextUnicodeResponse" />
  </message>
  <message name="RetrieveImagesForSearchSoapIn">
    <part name="parameters" element="s0:RetrieveImagesForSearch" />
  </message>
  <message name="RetrieveImagesForSearchSoapOut">
    <part name="parameters" element="s0:RetrieveImagesForSearchResponse" />
  </message>
  <message name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapIn">
    <part name="parameters" element="s0:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet" />
  </message>
  <message name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapOut">
    <part name="parameters" element="s0:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetResponse" />
  </message>
  <message name="RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapIn">
    <part name="parameters" element="s0:RetrieveImagesByProductionIDsAndDocumentIDsForExport" />
  </message>
  <message name="RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapOut">
    <part name="parameters" element="s0:RetrieveImagesByProductionIDsAndDocumentIDsForExportResponse" />
  </message>
  <message name="RetrieveViewsByContextArtifactIDSoapIn">
    <part name="parameters" element="s0:RetrieveViewsByContextArtifactID" />
  </message>
  <message name="RetrieveViewsByContextArtifactIDSoapOut">
    <part name="parameters" element="s0:RetrieveViewsByContextArtifactIDResponse" />
  </message>
  <message name="RetrieveSearchFieldsSoapIn">
    <part name="parameters" element="s0:RetrieveSearchFields" />
  </message>
  <message name="RetrieveSearchFieldsSoapOut">
    <part name="parameters" element="s0:RetrieveSearchFieldsResponse" />
  </message>
  <message name="RetrieveSearchFieldsForProductionSoapIn">
    <part name="parameters" element="s0:RetrieveSearchFieldsForProduction" />
  </message>
  <message name="RetrieveSearchFieldsForProductionSoapOut">
    <part name="parameters" element="s0:RetrieveSearchFieldsForProductionResponse" />
  </message>
  <message name="CountSearchByParentArtifactIDSoapIn">
    <part name="parameters" element="s0:CountSearchByParentArtifactID" />
  </message>
  <message name="CountSearchByParentArtifactIDSoapOut">
    <part name="parameters" element="s0:CountSearchByParentArtifactIDResponse" />
  </message>
  <message name="SearchByParentArtifactIDSoapIn">
    <part name="parameters" element="s0:SearchByParentArtifactID" />
  </message>
  <message name="SearchByParentArtifactIDSoapOut">
    <part name="parameters" element="s0:SearchByParentArtifactIDResponse" />
  </message>
  <message name="SearchByProductionArtifactIDSoapIn">
    <part name="parameters" element="s0:SearchByProductionArtifactID" />
  </message>
  <message name="SearchByProductionArtifactIDSoapOut">
    <part name="parameters" element="s0:SearchByProductionArtifactIDResponse" />
  </message>
  <message name="CountSearchByProductionArtifactIDSoapIn">
    <part name="parameters" element="s0:CountSearchByProductionArtifactID" />
  </message>
  <message name="CountSearchByProductionArtifactIDSoapOut">
    <part name="parameters" element="s0:CountSearchByProductionArtifactIDResponse" />
  </message>
  <message name="RetrieveDefaultViewFieldsForIdListSoapIn">
    <part name="parameters" element="s0:RetrieveDefaultViewFieldsForIdList" />
  </message>
  <message name="RetrieveDefaultViewFieldsForIdListSoapOut">
    <part name="parameters" element="s0:RetrieveDefaultViewFieldsForIdListResponse" />
  </message>
  <message name="RetrieveAllExportableViewFieldsSoapIn">
    <part name="parameters" element="s0:RetrieveAllExportableViewFields" />
  </message>
  <message name="RetrieveAllExportableViewFieldsSoapOut">
    <part name="parameters" element="s0:RetrieveAllExportableViewFieldsResponse" />
  </message>
  <portType name="SearchManagerSoap">
    <operation name="CountSearchByArtifactID">
      <input message="s0:CountSearchByArtifactIDSoapIn" />
      <output message="s0:CountSearchByArtifactIDSoapOut" />
    </operation>
    <operation name="SearchBySearchArtifactID">
      <input message="s0:SearchBySearchArtifactIDSoapIn" />
      <output message="s0:SearchBySearchArtifactIDSoapOut" />
    </operation>
    <operation name="GetSearchSQL">
      <input message="s0:GetSearchSQLSoapIn" />
      <output message="s0:GetSearchSQLSoapOut" />
    </operation>
    <operation name="RetrieveNativesForSearch">
      <input message="s0:RetrieveNativesForSearchSoapIn" />
      <output message="s0:RetrieveNativesForSearchSoapOut" />
    </operation>
    <operation name="RetrieveFilesForDynamicObjects">
      <input message="s0:RetrieveFilesForDynamicObjectsSoapIn" />
      <output message="s0:RetrieveFilesForDynamicObjectsSoapOut" />
    </operation>
    <operation name="RetrieveNativesForProduction">
      <input message="s0:RetrieveNativesForProductionSoapIn" />
      <output message="s0:RetrieveNativesForProductionSoapOut" />
    </operation>
    <operation name="RetrieveFullTextExistenceForSearch">
      <input message="s0:RetrieveFullTextExistenceForSearchSoapIn" />
      <output message="s0:RetrieveFullTextExistenceForSearchSoapOut" />
    </operation>
    <operation name="IsExtractedTextUnicode">
      <input message="s0:IsExtractedTextUnicodeSoapIn" />
      <output message="s0:IsExtractedTextUnicodeSoapOut" />
    </operation>
    <operation name="RetrieveImagesForSearch">
      <input message="s0:RetrieveImagesForSearchSoapIn" />
      <output message="s0:RetrieveImagesForSearchSoapOut" />
    </operation>
    <operation name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
      <input message="s0:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapIn" />
      <output message="s0:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapOut" />
    </operation>
    <operation name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
      <input message="s0:RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapIn" />
      <output message="s0:RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapOut" />
    </operation>
    <operation name="RetrieveViewsByContextArtifactID">
      <input message="s0:RetrieveViewsByContextArtifactIDSoapIn" />
      <output message="s0:RetrieveViewsByContextArtifactIDSoapOut" />
    </operation>
    <operation name="RetrieveSearchFields">
      <input message="s0:RetrieveSearchFieldsSoapIn" />
      <output message="s0:RetrieveSearchFieldsSoapOut" />
    </operation>
    <operation name="RetrieveSearchFieldsForProduction">
      <input message="s0:RetrieveSearchFieldsForProductionSoapIn" />
      <output message="s0:RetrieveSearchFieldsForProductionSoapOut" />
    </operation>
    <operation name="CountSearchByParentArtifactID">
      <input message="s0:CountSearchByParentArtifactIDSoapIn" />
      <output message="s0:CountSearchByParentArtifactIDSoapOut" />
    </operation>
    <operation name="SearchByParentArtifactID">
      <input message="s0:SearchByParentArtifactIDSoapIn" />
      <output message="s0:SearchByParentArtifactIDSoapOut" />
    </operation>
    <operation name="SearchByProductionArtifactID">
      <input message="s0:SearchByProductionArtifactIDSoapIn" />
      <output message="s0:SearchByProductionArtifactIDSoapOut" />
    </operation>
    <operation name="CountSearchByProductionArtifactID">
      <input message="s0:CountSearchByProductionArtifactIDSoapIn" />
      <output message="s0:CountSearchByProductionArtifactIDSoapOut" />
    </operation>
    <operation name="RetrieveDefaultViewFieldsForIdList">
      <input message="s0:RetrieveDefaultViewFieldsForIdListSoapIn" />
      <output message="s0:RetrieveDefaultViewFieldsForIdListSoapOut" />
    </operation>
    <operation name="RetrieveAllExportableViewFields">
      <input message="s0:RetrieveAllExportableViewFieldsSoapIn" />
      <output message="s0:RetrieveAllExportableViewFieldsSoapOut" />
    </operation>
  </portType>
  <binding name="SearchManagerSoap" type="s0:SearchManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CountSearchByArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/CountSearchByArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchBySearchArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/SearchBySearchArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSearchSQL">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/GetSearchSQL" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveNativesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveFilesForDynamicObjects">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveFilesForDynamicObjects" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveNativesForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForProduction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveFullTextExistenceForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveFullTextExistenceForSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsExtractedTextUnicode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/IsExtractedTextUnicode" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveImagesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesForSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionIDsAndDocumentIDsForExport" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveViewsByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveViewsByContextArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveSearchFields">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFields" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveSearchFieldsForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFieldsForProduction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CountSearchByParentArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/CountSearchByParentArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchByParentArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/SearchByParentArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchByProductionArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/SearchByProductionArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CountSearchByProductionArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/CountSearchByProductionArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveDefaultViewFieldsForIdList">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveDefaultViewFieldsForIdList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveAllExportableViewFields">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveAllExportableViewFields" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SearchManager">
    <port name="SearchManagerSoap" binding="s0:SearchManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/SearchManager.asmx" />
    </port>
  </service>
</definitions>