Web References/kCura.EDDS.WebAPI.SearchManagerBase/SearchManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.kCura.com/EDDS/SearchManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/SearchManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/SearchManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="CountSearchByArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountSearchByArtifactIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBySearchArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="finish" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBySearchArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBySearchArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveNativesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFullTextFilesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFullTextFilesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFullTextFilesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveImagesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveByProductionIDsAndDocumentIDs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="productionArtifactIDs" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveByProductionIDsAndDocumentIDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveByProductionIDsAndDocumentIDsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveViewsByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isSearch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveViewsByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveViewsByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchFieldsForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByParentArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchSubFolders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByParentArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountSearchByParentArtifactIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByParentArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchSubFolders" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="finish" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByParentArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByParentArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByProductionArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="finish" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByProductionArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByProductionArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByProductionArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountSearchByProductionArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountSearchByProductionArtifactIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CountSearchByArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:CountSearchByArtifactID" />
  </wsdl:message>
  <wsdl:message name="CountSearchByArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:CountSearchByArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBySearchArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBySearchArtifactID" />
  </wsdl:message>
  <wsdl:message name="SearchBySearchArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBySearchArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesForSearchSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveNativesForSearch" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesForSearchSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveNativesForSearchResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveFullTextFilesForSearchSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveFullTextFilesForSearch" />
  </wsdl:message>
  <wsdl:message name="RetrieveFullTextFilesForSearchSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveFullTextFilesForSearchResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesForSearchSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveImagesForSearch" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesForSearchSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveImagesForSearchResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSetSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveImagesByProductionArtifactIDForProductionByDocumentSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSetSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveImagesByProductionArtifactIDForProductionByDocumentSetResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveByProductionIDsAndDocumentIDsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveByProductionIDsAndDocumentIDs" />
  </wsdl:message>
  <wsdl:message name="RetrieveByProductionIDsAndDocumentIDsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveByProductionIDsAndDocumentIDsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveViewsByContextArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveViewsByContextArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveViewsByContextArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveViewsByContextArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFields" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsForProductionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFieldsForProduction" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsForProductionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFieldsForProductionResponse" />
  </wsdl:message>
  <wsdl:message name="CountSearchByParentArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:CountSearchByParentArtifactID" />
  </wsdl:message>
  <wsdl:message name="CountSearchByParentArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:CountSearchByParentArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByParentArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByParentArtifactID" />
  </wsdl:message>
  <wsdl:message name="SearchByParentArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByParentArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByProductionArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByProductionArtifactID" />
  </wsdl:message>
  <wsdl:message name="SearchByProductionArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByProductionArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="CountSearchByProductionArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:CountSearchByProductionArtifactID" />
  </wsdl:message>
  <wsdl:message name="CountSearchByProductionArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:CountSearchByProductionArtifactIDResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchManagerSoap">
    <wsdl:operation name="CountSearchByArtifactID">
      <wsdl:input message="tns:CountSearchByArtifactIDSoapIn" />
      <wsdl:output message="tns:CountSearchByArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBySearchArtifactID">
      <wsdl:input message="tns:SearchBySearchArtifactIDSoapIn" />
      <wsdl:output message="tns:SearchBySearchArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForSearch">
      <wsdl:input message="tns:RetrieveNativesForSearchSoapIn" />
      <wsdl:output message="tns:RetrieveNativesForSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFullTextFilesForSearch">
      <wsdl:input message="tns:RetrieveFullTextFilesForSearchSoapIn" />
      <wsdl:output message="tns:RetrieveFullTextFilesForSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesForSearch">
      <wsdl:input message="tns:RetrieveImagesForSearchSoapIn" />
      <wsdl:output message="tns:RetrieveImagesForSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSet">
      <wsdl:input message="tns:RetrieveImagesByProductionArtifactIDForProductionByDocumentSetSoapIn" />
      <wsdl:output message="tns:RetrieveImagesByProductionArtifactIDForProductionByDocumentSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveByProductionIDsAndDocumentIDs">
      <wsdl:input message="tns:RetrieveByProductionIDsAndDocumentIDsSoapIn" />
      <wsdl:output message="tns:RetrieveByProductionIDsAndDocumentIDsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveViewsByContextArtifactID">
      <wsdl:input message="tns:RetrieveViewsByContextArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveViewsByContextArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFields">
      <wsdl:input message="tns:RetrieveSearchFieldsSoapIn" />
      <wsdl:output message="tns:RetrieveSearchFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFieldsForProduction">
      <wsdl:input message="tns:RetrieveSearchFieldsForProductionSoapIn" />
      <wsdl:output message="tns:RetrieveSearchFieldsForProductionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountSearchByParentArtifactID">
      <wsdl:input message="tns:CountSearchByParentArtifactIDSoapIn" />
      <wsdl:output message="tns:CountSearchByParentArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByParentArtifactID">
      <wsdl:input message="tns:SearchByParentArtifactIDSoapIn" />
      <wsdl:output message="tns:SearchByParentArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByProductionArtifactID">
      <wsdl:input message="tns:SearchByProductionArtifactIDSoapIn" />
      <wsdl:output message="tns:SearchByProductionArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountSearchByProductionArtifactID">
      <wsdl:input message="tns:CountSearchByProductionArtifactIDSoapIn" />
      <wsdl:output message="tns:CountSearchByProductionArtifactIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchManagerSoap" type="tns:SearchManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="CountSearchByArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/CountSearchByArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBySearchArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/SearchBySearchArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFullTextFilesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveFullTextFilesForSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesForSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionArtifactIDForProductionByDocumentSet">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionArtifactIDForProductionByDocumentSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveByProductionIDsAndDocumentIDs">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveByProductionIDsAndDocumentIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveViewsByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveViewsByContextArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFields">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFieldsForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFieldsForProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountSearchByParentArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/CountSearchByParentArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByParentArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/SearchByParentArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByProductionArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/SearchByProductionArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountSearchByProductionArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/CountSearchByProductionArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchManager">
    <wsdl:port name="SearchManagerSoap" binding="tns:SearchManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/SearchManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>