Web References/kCura.EDDS.WebAPI.FieldQueryBase/FieldQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://foley.com/EDDS/FieldQuery" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/FieldQuery" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/FieldQuery">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveDisplayFieldNameByFieldCategoryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fieldCategoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDisplayFieldNameByFieldCategoryIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDisplayFieldNameByFieldCategoryIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllMappable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllMappableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllMappableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RetrieveDisplayFieldNameByFieldCategoryIDSoapIn">
    <part name="parameters" element="s0:RetrieveDisplayFieldNameByFieldCategoryID" />
  </message>
  <message name="RetrieveDisplayFieldNameByFieldCategoryIDSoapOut">
    <part name="parameters" element="s0:RetrieveDisplayFieldNameByFieldCategoryIDResponse" />
  </message>
  <message name="RetrieveAllMappableSoapIn">
    <part name="parameters" element="s0:RetrieveAllMappable" />
  </message>
  <message name="RetrieveAllMappableSoapOut">
    <part name="parameters" element="s0:RetrieveAllMappableResponse" />
  </message>
  <message name="RetrieveAllSoapIn">
    <part name="parameters" element="s0:RetrieveAll" />
  </message>
  <message name="RetrieveAllSoapOut">
    <part name="parameters" element="s0:RetrieveAllResponse" />
  </message>
  <portType name="FieldQuerySoap">
    <operation name="RetrieveDisplayFieldNameByFieldCategoryID">
      <input message="s0:RetrieveDisplayFieldNameByFieldCategoryIDSoapIn" />
      <output message="s0:RetrieveDisplayFieldNameByFieldCategoryIDSoapOut" />
    </operation>
    <operation name="RetrieveAllMappable">
      <input message="s0:RetrieveAllMappableSoapIn" />
      <output message="s0:RetrieveAllMappableSoapOut" />
    </operation>
    <operation name="RetrieveAll">
      <input message="s0:RetrieveAllSoapIn" />
      <output message="s0:RetrieveAllSoapOut" />
    </operation>
  </portType>
  <binding name="FieldQuerySoap" type="s0:FieldQuerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveDisplayFieldNameByFieldCategoryID">
      <soap:operation soapAction="http://foley.com/EDDS/FieldQuery/RetrieveDisplayFieldNameByFieldCategoryID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveAllMappable">
      <soap:operation soapAction="http://foley.com/EDDS/FieldQuery/RetrieveAllMappable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveAll">
      <soap:operation soapAction="http://foley.com/EDDS/FieldQuery/RetrieveAll" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FieldQuery">
    <port name="FieldQuerySoap" binding="s0:FieldQuerySoap">
      <soap:address location="http://localhost/EDDSWebAPI/FieldQuery.asmx" />
    </port>
  </service>
</definitions>