Web References/kCura.EDDS.WebAPI.CodeManagerBase/CodeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://foley.com/EDDS/CodeManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://foley.com/EDDS/CodeManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/CodeManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RetrieveCodesAndTypesForCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCodesAndTypesForCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCodesAndTypesForCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codeDTO" type="tns:Code" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Code">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodeType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateInSearchEngine" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OIHiliteStyleID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyboardShortcut" type="tns:KeyboardShortcut" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Guid" nillable="true" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyboardShortcut">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Shift" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Ctrl" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllForHierarchical">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllForHierarchicalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllForHierarchicalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitialChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInitialChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInitialChunkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastCodeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastChunkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCodeByNameAndTypeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChoiceInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveCodeByNameAndTypeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCodeByNameAndTypeIDResult" type="tns:ChoiceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReadIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveCodesAndTypesForCaseSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCodesAndTypesForCase" />
  </wsdl:message>
  <wsdl:message name="RetrieveCodesAndTypesForCaseSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCodesAndTypesForCaseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllForHierarchicalSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllForHierarchical" />
  </wsdl:message>
  <wsdl:message name="GetAllForHierarchicalSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllForHierarchicalResponse" />
  </wsdl:message>
  <wsdl:message name="GetInitialChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetInitialChunk" />
  </wsdl:message>
  <wsdl:message name="GetInitialChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetInitialChunkResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastChunk" />
  </wsdl:message>
  <wsdl:message name="GetLastChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastChunkResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCodeByNameAndTypeIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCodeByNameAndTypeID" />
  </wsdl:message>
  <wsdl:message name="RetrieveCodeByNameAndTypeIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCodeByNameAndTypeIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadIDSoapIn">
    <wsdl:part name="parameters" element="tns:ReadID" />
  </wsdl:message>
  <wsdl:message name="ReadIDSoapOut">
    <wsdl:part name="parameters" element="tns:ReadIDResponse" />
  </wsdl:message>
  <wsdl:portType name="CodeManagerSoap">
    <wsdl:operation name="RetrieveCodesAndTypesForCase">
      <wsdl:input message="tns:RetrieveCodesAndTypesForCaseSoapIn" />
      <wsdl:output message="tns:RetrieveCodesAndTypesForCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllForHierarchical">
      <wsdl:input message="tns:GetAllForHierarchicalSoapIn" />
      <wsdl:output message="tns:GetAllForHierarchicalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInitialChunk">
      <wsdl:input message="tns:GetInitialChunkSoapIn" />
      <wsdl:output message="tns:GetInitialChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastChunk">
      <wsdl:input message="tns:GetLastChunkSoapIn" />
      <wsdl:output message="tns:GetLastChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCodeByNameAndTypeID">
      <wsdl:input message="tns:RetrieveCodeByNameAndTypeIDSoapIn" />
      <wsdl:output message="tns:RetrieveCodeByNameAndTypeIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <wsdl:input message="tns:ReadIDSoapIn" />
      <wsdl:output message="tns:ReadIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeManagerSoap" type="tns:CodeManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCodesAndTypesForCase">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/RetrieveCodesAndTypesForCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllForHierarchical">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/GetAllForHierarchical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitialChunk">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/GetInitialChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastChunk">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/GetLastChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCodeByNameAndTypeID">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/RetrieveCodeByNameAndTypeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/ReadID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CodeManagerSoap12" type="tns:CodeManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveCodesAndTypesForCase">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/RetrieveCodesAndTypesForCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllForHierarchical">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/GetAllForHierarchical" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitialChunk">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/GetInitialChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastChunk">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/GetLastChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCodeByNameAndTypeID">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/RetrieveCodeByNameAndTypeID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadID">
      <soap12:operation soapAction="http://foley.com/EDDS/CodeManager/ReadID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeManager">
    <wsdl:port name="CodeManagerSoap" binding="tns:CodeManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/CodeManager.asmx" />
    </wsdl:port>
    <wsdl:port name="CodeManagerSoap12" binding="tns:CodeManagerSoap12">
      <soap12:address location="http://localhost/EDDSWebAPI/CodeManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>