Web References/kCura.EDDS.WebAPI.CodeManagerBase/CodeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://foley.com/EDDS/CodeManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/CodeManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/CodeManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:element name="RetrieveCodesAndTypesForCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCodesAndTypesForCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCodesAndTypesForCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codeDTO" type="tns:Code" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Code">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodeType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateInSearchEngine" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllForHierarchical">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codeTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllForHierarchicalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllForHierarchicalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveCodesAndTypesForCaseSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCodesAndTypesForCase" />
  </wsdl:message>
  <wsdl:message name="RetrieveCodesAndTypesForCaseSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCodesAndTypesForCaseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllForHierarchicalSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllForHierarchical" />
  </wsdl:message>
  <wsdl:message name="GetAllForHierarchicalSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllForHierarchicalResponse" />
  </wsdl:message>
  <wsdl:portType name="CodeManagerSoap">
    <wsdl:operation name="RetrieveCodesAndTypesForCase">
      <wsdl:input message="tns:RetrieveCodesAndTypesForCaseSoapIn" />
      <wsdl:output message="tns:RetrieveCodesAndTypesForCaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllForHierarchical">
      <wsdl:input message="tns:GetAllForHierarchicalSoapIn" />
      <wsdl:output message="tns:GetAllForHierarchicalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeManagerSoap" type="tns:CodeManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveCodesAndTypesForCase">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/RetrieveCodesAndTypesForCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllForHierarchical">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/GetAllForHierarchical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeManager">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="CodeManagerSoap" binding="tns:CodeManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/CodeManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>