Web References/kCura.EDDS.WebAPI.CodeManagerBase/CodeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://foley.com/EDDS/CodeManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://foley.com/EDDS/CodeManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://foley.com/EDDS/CodeManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:element name="RetrieveCodesAndTypesForCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCodesAndTypesForCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveCodesAndTypesForCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codeDTO" type="s0:Code" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Code">
        <s:complexContent mixed="false">
          <s:extension base="s0:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodeType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateInSearchEngine" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="BinaryIdentity" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
  </types>
  <message name="RetrieveCodesAndTypesForCaseSoapIn">
    <part name="parameters" element="s0:RetrieveCodesAndTypesForCase" />
  </message>
  <message name="RetrieveCodesAndTypesForCaseSoapOut">
    <part name="parameters" element="s0:RetrieveCodesAndTypesForCaseResponse" />
  </message>
  <message name="CreateSoapIn">
    <part name="parameters" element="s0:Create" />
  </message>
  <message name="CreateSoapOut">
    <part name="parameters" element="s0:CreateResponse" />
  </message>
  <portType name="CodeManagerSoap">
    <operation name="RetrieveCodesAndTypesForCase">
      <input message="s0:RetrieveCodesAndTypesForCaseSoapIn" />
      <output message="s0:RetrieveCodesAndTypesForCaseSoapOut" />
    </operation>
    <operation name="Create">
      <input message="s0:CreateSoapIn" />
      <output message="s0:CreateSoapOut" />
    </operation>
  </portType>
  <binding name="CodeManagerSoap" type="s0:CodeManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveCodesAndTypesForCase">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/RetrieveCodesAndTypesForCase" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Create">
      <soap:operation soapAction="http://foley.com/EDDS/CodeManager/Create" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CodeManager">
    <port name="CodeManagerSoap" binding="s0:CodeManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/CodeManager.asmx" />
    </port>
  </service>
</definitions>