Web References/kCura.EDDS.WebAPI.ObjectTypeManagerBase/ObjectTypeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/ObjectTypeManager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/ObjectTypeManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ObjectTypeManager">
      <s:element name="RetrieveAllUploadable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllUploadableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllUploadableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveParentArtifactTypeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveParentArtifactTypeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveParentArtifactTypeIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveAllUploadableSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllUploadable" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUploadableSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllUploadableResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveParentArtifactTypeIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveParentArtifactTypeID" />
  </wsdl:message>
  <wsdl:message name="RetrieveParentArtifactTypeIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveParentArtifactTypeIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUploadableHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUploadableHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveParentArtifactTypeIDHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveParentArtifactTypeIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUploadableHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllUploadableHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveParentArtifactTypeIDHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
    <wsdl:part name="artifactTypeID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveParentArtifactTypeIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="ObjectTypeManagerSoap">
    <wsdl:operation name="RetrieveAllUploadable">
      <wsdl:input message="tns:RetrieveAllUploadableSoapIn" />
      <wsdl:output message="tns:RetrieveAllUploadableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <wsdl:input message="tns:RetrieveParentArtifactTypeIDSoapIn" />
      <wsdl:output message="tns:RetrieveParentArtifactTypeIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ObjectTypeManagerHttpGet">
    <wsdl:operation name="RetrieveAllUploadable">
      <wsdl:input message="tns:RetrieveAllUploadableHttpGetIn" />
      <wsdl:output message="tns:RetrieveAllUploadableHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <wsdl:input message="tns:RetrieveParentArtifactTypeIDHttpGetIn" />
      <wsdl:output message="tns:RetrieveParentArtifactTypeIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ObjectTypeManagerHttpPost">
    <wsdl:operation name="RetrieveAllUploadable">
      <wsdl:input message="tns:RetrieveAllUploadableHttpPostIn" />
      <wsdl:output message="tns:RetrieveAllUploadableHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <wsdl:input message="tns:RetrieveParentArtifactTypeIDHttpPostIn" />
      <wsdl:output message="tns:RetrieveParentArtifactTypeIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObjectTypeManagerSoap" type="tns:ObjectTypeManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllUploadable">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectTypeManager/RetrieveAllUploadable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectTypeManager/RetrieveParentArtifactTypeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectTypeManagerSoap12" type="tns:ObjectTypeManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllUploadable">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ObjectTypeManager/RetrieveAllUploadable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ObjectTypeManager/RetrieveParentArtifactTypeID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectTypeManagerHttpGet" type="tns:ObjectTypeManagerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RetrieveAllUploadable">
      <http:operation location="/RetrieveAllUploadable" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <http:operation location="/RetrieveParentArtifactTypeID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObjectTypeManagerHttpPost" type="tns:ObjectTypeManagerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RetrieveAllUploadable">
      <http:operation location="/RetrieveAllUploadable" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveParentArtifactTypeID">
      <http:operation location="/RetrieveParentArtifactTypeID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectTypeManager">
    <wsdl:port name="ObjectTypeManagerSoap" binding="tns:ObjectTypeManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/ObjectTypeManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectTypeManagerSoap12" binding="tns:ObjectTypeManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/ObjectTypeManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectTypeManagerHttpGet" binding="tns:ObjectTypeManagerHttpGet">
      <http:address location="http://localhost/RelativityWebApi/ObjectTypeManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ObjectTypeManagerHttpPost" binding="tns:ObjectTypeManagerHttpPost">
      <http:address location="http://localhost/RelativityWebApi/ObjectTypeManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>