Web References/kCura.EDDS.WebAPI.ObjectTypeManagerBase/ObjectTypeManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/ObjectTypeManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/ObjectTypeManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ObjectTypeManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveAllUploadable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllUploadableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllUploadableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveParentArtifactTypeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveParentArtifactTypeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveParentArtifactTypeIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RetrieveAllUploadableSoapIn">
    <part name="parameters" element="s0:RetrieveAllUploadable" />
  </message>
  <message name="RetrieveAllUploadableSoapOut">
    <part name="parameters" element="s0:RetrieveAllUploadableResponse" />
  </message>
  <message name="RetrieveParentArtifactTypeIDSoapIn">
    <part name="parameters" element="s0:RetrieveParentArtifactTypeID" />
  </message>
  <message name="RetrieveParentArtifactTypeIDSoapOut">
    <part name="parameters" element="s0:RetrieveParentArtifactTypeIDResponse" />
  </message>
  <portType name="ObjectTypeManagerSoap">
    <operation name="RetrieveAllUploadable">
      <input message="s0:RetrieveAllUploadableSoapIn" />
      <output message="s0:RetrieveAllUploadableSoapOut" />
    </operation>
    <operation name="RetrieveParentArtifactTypeID">
      <input message="s0:RetrieveParentArtifactTypeIDSoapIn" />
      <output message="s0:RetrieveParentArtifactTypeIDSoapOut" />
    </operation>
  </portType>
  <binding name="ObjectTypeManagerSoap" type="s0:ObjectTypeManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveAllUploadable">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectTypeManager/RetrieveAllUploadable" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveParentArtifactTypeID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ObjectTypeManager/RetrieveParentArtifactTypeID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ObjectTypeManager">
    <port name="ObjectTypeManagerSoap" binding="s0:ObjectTypeManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/ObjectTypeManager.asmx" />
    </port>
  </service>
</definitions>