Web References/kCura.EDDS.WebAPI.ProductionManagerBase/ProductionManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/ProductionManager" xmlns:s2="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/ProductionManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ProductionManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" />
      <s:element name="RetrieveProducedByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProducedByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProducedByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImportEligibleByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImportEligibleByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImportEligibleByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPostImportProcessing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPostImportProcessingResponse">
        <s:complexType />
      </s:element>
      <s:element name="DoPreImportProcessing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPreImportProcessingResponse">
        <s:complexType />
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="s0:Production" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Production">
        <s:complexContent mixed="false">
          <s:extension base="s0:Artifact">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BeginBatesFieldArtifactID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="EndBatesFieldArtifactID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ImageShrinkPercent" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DateProduced">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="StatusCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="BatesPrefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BatesSuffix" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BatesFormat" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BatesStartNumber" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LeftHeaderTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="LeftHeaderFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LeftHeaderFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CenterHeaderTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="CenterHeaderFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CenterHeaderFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RightHeaderTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="RightHeaderFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="RightHeaderFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LeftFooterTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="LeftFooterFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LeftFooterFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CenterFooterTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="CenterFooterFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CenterFooterFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RightFooterTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="RightFooterFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="RightFooterFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BurnAnnotations" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FontSize" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorFlagFieldArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductionOrder" type="s0:ArrayOfAnyType" />
              <s:element minOccurs="1" maxOccurs="1" name="MarkupSet" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Imported" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AddImagePlaceholder" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductionFieldArtifactID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DocumentsHaveRedactions" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductionOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductionOrderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactViewFieldID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Direction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveProducedWithSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProducedWithSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProducedWithSecurityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentToProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentToProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDocumentToProductionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProductionDocumentFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="productionDocumentFiles" type="s0:ArrayOfProductionDocumentFileInfoBase" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductionDocumentFileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductionDocumentFileInfoBase" nillable="true" type="s0:ProductionDocumentFileInfoBase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductionDocumentFileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatesNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageSize" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateProductionDocumentFilesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" id="NullableDateTime">
      <xs:element name="NullableDateTime" nillable="true" type="xs:dateTime" />
    </s:schema>
  </types>
  <message name="RetrieveProducedByContextArtifactIDSoapIn">
    <part name="parameters" element="s0:RetrieveProducedByContextArtifactID" />
  </message>
  <message name="RetrieveProducedByContextArtifactIDSoapOut">
    <part name="parameters" element="s0:RetrieveProducedByContextArtifactIDResponse" />
  </message>
  <message name="RetrieveImportEligibleByContextArtifactIDSoapIn">
    <part name="parameters" element="s0:RetrieveImportEligibleByContextArtifactID" />
  </message>
  <message name="RetrieveImportEligibleByContextArtifactIDSoapOut">
    <part name="parameters" element="s0:RetrieveImportEligibleByContextArtifactIDResponse" />
  </message>
  <message name="DoPostImportProcessingSoapIn">
    <part name="parameters" element="s0:DoPostImportProcessing" />
  </message>
  <message name="DoPostImportProcessingSoapOut">
    <part name="parameters" element="s0:DoPostImportProcessingResponse" />
  </message>
  <message name="DoPreImportProcessingSoapIn">
    <part name="parameters" element="s0:DoPreImportProcessing" />
  </message>
  <message name="DoPreImportProcessingSoapOut">
    <part name="parameters" element="s0:DoPreImportProcessingResponse" />
  </message>
  <message name="ReadSoapIn">
    <part name="parameters" element="s0:Read" />
  </message>
  <message name="ReadSoapOut">
    <part name="parameters" element="s0:ReadResponse" />
  </message>
  <message name="RetrieveProducedWithSecuritySoapIn">
    <part name="parameters" element="s0:RetrieveProducedWithSecurity" />
  </message>
  <message name="RetrieveProducedWithSecuritySoapOut">
    <part name="parameters" element="s0:RetrieveProducedWithSecurityResponse" />
  </message>
  <message name="AddDocumentToProductionSoapIn">
    <part name="parameters" element="s0:AddDocumentToProduction" />
  </message>
  <message name="AddDocumentToProductionSoapOut">
    <part name="parameters" element="s0:AddDocumentToProductionResponse" />
  </message>
  <message name="CreateProductionDocumentFilesSoapIn">
    <part name="parameters" element="s0:CreateProductionDocumentFiles" />
  </message>
  <message name="CreateProductionDocumentFilesSoapOut">
    <part name="parameters" element="s0:CreateProductionDocumentFilesResponse" />
  </message>
  <portType name="ProductionManagerSoap">
    <operation name="RetrieveProducedByContextArtifactID">
      <input message="s0:RetrieveProducedByContextArtifactIDSoapIn" />
      <output message="s0:RetrieveProducedByContextArtifactIDSoapOut" />
    </operation>
    <operation name="RetrieveImportEligibleByContextArtifactID">
      <input message="s0:RetrieveImportEligibleByContextArtifactIDSoapIn" />
      <output message="s0:RetrieveImportEligibleByContextArtifactIDSoapOut" />
    </operation>
    <operation name="DoPostImportProcessing">
      <input message="s0:DoPostImportProcessingSoapIn" />
      <output message="s0:DoPostImportProcessingSoapOut" />
    </operation>
    <operation name="DoPreImportProcessing">
      <input message="s0:DoPreImportProcessingSoapIn" />
      <output message="s0:DoPreImportProcessingSoapOut" />
    </operation>
    <operation name="Read">
      <input message="s0:ReadSoapIn" />
      <output message="s0:ReadSoapOut" />
    </operation>
    <operation name="RetrieveProducedWithSecurity">
      <input message="s0:RetrieveProducedWithSecuritySoapIn" />
      <output message="s0:RetrieveProducedWithSecuritySoapOut" />
    </operation>
    <operation name="AddDocumentToProduction">
      <input message="s0:AddDocumentToProductionSoapIn" />
      <output message="s0:AddDocumentToProductionSoapOut" />
    </operation>
    <operation name="CreateProductionDocumentFiles">
      <input message="s0:CreateProductionDocumentFilesSoapIn" />
      <output message="s0:CreateProductionDocumentFilesSoapOut" />
    </operation>
  </portType>
  <binding name="ProductionManagerSoap" type="s0:ProductionManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveProducedByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedByContextArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveImportEligibleByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveImportEligibleByContextArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DoPostImportProcessing">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/DoPostImportProcessing" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DoPreImportProcessing">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/DoPreImportProcessing" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/Read" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveProducedWithSecurity">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedWithSecurity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddDocumentToProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/AddDocumentToProduction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateProductionDocumentFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/CreateProductionDocumentFiles" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductionManager">
    <port name="ProductionManagerSoap" binding="s0:ProductionManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/ProductionManager.asmx" />
    </port>
  </service>
</definitions>