Web References/kCura.EDDS.WebAPI.ProductionManagerBase/ProductionManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.kCura.com/EDDS/ProductionManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/ProductionManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ProductionManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
      <s:import namespace="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" />
      <s:element name="RetrieveProducedByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProducedByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProducedByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveStagingByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveStagingByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveStagingByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:Production" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Production">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BeginBatesFieldArtifactID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="EndBatesFieldArtifactID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ImageShrinkPercent" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DateProduced">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="StatusCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="BatesPrefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BatesSuffix" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BatesFormat" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BatesStartNumber" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LeftHeaderTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="LeftHeaderFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LeftHeaderFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CenterHeaderTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="CenterHeaderFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CenterHeaderFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RightHeaderTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="RightHeaderFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="RightHeaderFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LeftFooterTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="LeftFooterFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="LeftFooterFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CenterFooterTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="CenterFooterFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="CenterFooterFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RightFooterTypeCodeArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="RightFooterFieldArtifactID">
                <s:complexType>
                  <s:sequence>
                    <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="RightFooterFreeText" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BurnAnnotations" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FontSize" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ErrorFlagFieldArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ProductionOrder" type="tns:ArrayOfAnyType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID">
            <s:complexType>
              <s:sequence>
                <s:any namespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveProducedWithSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProducedWithSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProducedWithSecurityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentToProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentToProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDocumentToProductionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProductionDocumentFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="productionDocumentFiles" type="tns:ArrayOfProductionDocumentFileInfoBase" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductionDocumentFileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductionDocumentFileInfoBase" nillable="true" type="tns:ProductionDocumentFileInfoBase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductionDocumentFileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatesNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageSize" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateProductionDocumentFilesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableInt32XMLSchema" id="NullableInt32">
      <xs:element name="NullableInt32" nillable="true" type="xs:int" />
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://NullableTypes.SourceForge.Net/NullableDateTimeXMLSchema" id="NullableDateTime">
      <xs:element name="NullableDateTime" nillable="true" type="xs:dateTime" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveProducedByContextArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveProducedByContextArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveProducedByContextArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveProducedByContextArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveStagingByContextArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveStagingByContextArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveStagingByContextArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveStagingByContextArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveProducedWithSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveProducedWithSecurity" />
  </wsdl:message>
  <wsdl:message name="RetrieveProducedWithSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveProducedWithSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="AddDocumentToProductionSoapIn">
    <wsdl:part name="parameters" element="tns:AddDocumentToProduction" />
  </wsdl:message>
  <wsdl:message name="AddDocumentToProductionSoapOut">
    <wsdl:part name="parameters" element="tns:AddDocumentToProductionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProductionDocumentFilesSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProductionDocumentFiles" />
  </wsdl:message>
  <wsdl:message name="CreateProductionDocumentFilesSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProductionDocumentFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductionManagerSoap">
    <wsdl:operation name="RetrieveProducedByContextArtifactID">
      <wsdl:input message="tns:RetrieveProducedByContextArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveProducedByContextArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveStagingByContextArtifactID">
      <wsdl:input message="tns:RetrieveStagingByContextArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveStagingByContextArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProducedWithSecurity">
      <wsdl:input message="tns:RetrieveProducedWithSecuritySoapIn" />
      <wsdl:output message="tns:RetrieveProducedWithSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToProduction">
      <wsdl:input message="tns:AddDocumentToProductionSoapIn" />
      <wsdl:output message="tns:AddDocumentToProductionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductionDocumentFiles">
      <wsdl:input message="tns:CreateProductionDocumentFilesSoapIn" />
      <wsdl:output message="tns:CreateProductionDocumentFilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductionManagerSoap" type="tns:ProductionManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveProducedByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedByContextArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveStagingByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveStagingByContextArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProducedWithSecurity">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedWithSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/AddDocumentToProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductionDocumentFiles">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/CreateProductionDocumentFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductionManager">
    <wsdl:port name="ProductionManagerSoap" binding="tns:ProductionManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/ProductionManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>