Web References/kCura.EDDS.WebAPI.FileManagerBase/FileManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.kCura.com/EDDS/FileManager" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/FileManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/FileManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveByProductionArtifactIDForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveByProductionArtifactIDForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveByProductionArtifactIDForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnFileGuidsForOriginalImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnFileGuidsForOriginalImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnFileGuidsForOriginalImagesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileDTO" type="tns:File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rotation" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Redactions" type="tns:ArrayOfRedaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRedaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Redaction" nillable="true" type="tns:Redaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Redaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfFileInfoBase" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileInfoBase" nillable="true" type="tns:FileInfoBase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateImagesResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateNatives">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="files" type="tns:ArrayOfFileInfoBase" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNativesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRotationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rotation" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRotationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFullTextGuidsByDocumentArtifactIdAndType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFullTextGuidsByDocumentArtifactIdAndTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFullTextGuidsByDocumentArtifactIdAndTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sourceDirectory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveNativesFileSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveByProductionArtifactIDForProductionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveByProductionArtifactIDForProduction" />
  </wsdl:message>
  <wsdl:message name="RetrieveByProductionArtifactIDForProductionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveByProductionArtifactIDForProductionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnFileGuidsForOriginalImagesSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnFileGuidsForOriginalImages" />
  </wsdl:message>
  <wsdl:message name="ReturnFileGuidsForOriginalImagesSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnFileGuidsForOriginalImagesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateImagesSoapIn">
    <wsdl:part name="parameters" element="tns:CreateImages" />
  </wsdl:message>
  <wsdl:message name="CreateImagesSoapOut">
    <wsdl:part name="parameters" element="tns:CreateImagesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNativesSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNatives" />
  </wsdl:message>
  <wsdl:message name="CreateNativesSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRotationSoapIn">
    <wsdl:part name="parameters" element="tns:GetRotation" />
  </wsdl:message>
  <wsdl:message name="GetRotationSoapOut">
    <wsdl:part name="parameters" element="tns:GetRotationResponse" />
  </wsdl:message>
  <wsdl:message name="SetRotationSoapIn">
    <wsdl:part name="parameters" element="tns:SetRotation" />
  </wsdl:message>
  <wsdl:message name="SetRotationSoapOut">
    <wsdl:part name="parameters" element="tns:SetRotationResponse" />
  </wsdl:message>
  <wsdl:message name="GetFullTextGuidsByDocumentArtifactIdAndTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFullTextGuidsByDocumentArtifactIdAndType" />
  </wsdl:message>
  <wsdl:message name="GetFullTextGuidsByDocumentArtifactIdAndTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFullTextGuidsByDocumentArtifactIdAndTypeResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesFileSizeSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveNativesFileSize" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesFileSizeSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveNativesFileSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="FileManagerSoap">
    <wsdl:operation name="RetrieveByProductionArtifactIDForProduction">
      <wsdl:input message="tns:RetrieveByProductionArtifactIDForProductionSoapIn" />
      <wsdl:output message="tns:RetrieveByProductionArtifactIDForProductionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID">
      <wsdl:input message="tns:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnFileGuidsForOriginalImages">
      <wsdl:input message="tns:ReturnFileGuidsForOriginalImagesSoapIn" />
      <wsdl:output message="tns:ReturnFileGuidsForOriginalImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateImages">
      <wsdl:input message="tns:CreateImagesSoapIn" />
      <wsdl:output message="tns:CreateImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNatives">
      <wsdl:input message="tns:CreateNativesSoapIn" />
      <wsdl:output message="tns:CreateNativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRotation">
      <wsdl:input message="tns:GetRotationSoapIn" />
      <wsdl:output message="tns:GetRotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRotation">
      <wsdl:input message="tns:SetRotationSoapIn" />
      <wsdl:output message="tns:SetRotationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFullTextGuidsByDocumentArtifactIdAndType">
      <wsdl:input message="tns:GetFullTextGuidsByDocumentArtifactIdAndTypeSoapIn" />
      <wsdl:output message="tns:GetFullTextGuidsByDocumentArtifactIdAndTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesFileSize">
      <wsdl:input message="tns:RetrieveNativesFileSizeSoapIn" />
      <wsdl:output message="tns:RetrieveNativesFileSizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileManagerSoap" type="tns:FileManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RetrieveByProductionArtifactIDForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/RetrieveByProductionArtifactIDForProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnFileGuidsForOriginalImages">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/ReturnFileGuidsForOriginalImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateImages">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/CreateImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNatives">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/CreateNatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRotation">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/GetRotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRotation">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/SetRotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFullTextGuidsByDocumentArtifactIdAndType">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/GetFullTextGuidsByDocumentArtifactIdAndType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesFileSize">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/RetrieveNativesFileSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileManager">
    <wsdl:port name="FileManagerSoap" binding="tns:FileManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/FileManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>