Web References/kCura.EDDS.WebAPI.FileManagerBase/FileManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.kCura.com/EDDS/FileManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.kCura.com/EDDS/FileManager" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/FileManager">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="RetrieveByProductionArtifactIDForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveByProductionArtifactIDForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveByProductionArtifactIDForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnFileGuidsForOriginalImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnFileGuidsForOriginalImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnFileGuidsForOriginalImagesResult" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileDTO" type="s0:File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="File">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rotation" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Redactions" type="s0:ArrayOfRedaction" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRedaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Redaction" nillable="true" type="s0:Redaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Redaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MarkupSetArtifactID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="s0:ArrayOfFileInfoBase" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileInfoBase" nillable="true" type="s0:FileInfoBase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileInfoBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateImagesResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateProductionImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="s0:ArrayOfFileInfoBase" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProductionImagesResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateNatives">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="files" type="s0:ArrayOfFileInfoBase" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNativesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRotationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRotationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRotation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rotation" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRotationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFullTextGuidsByDocumentArtifactIdAndType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFullTextGuidsByDocumentArtifactIdAndTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFullTextGuidsByDocumentArtifactIdAndTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesFileSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesFileSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveNativesFileSizeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileByGuidResult" type="s0:File" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalImageCountByArtifactIDs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s0:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalImageCountByArtifactIDsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalImageCountByArtifactIDsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRotationForAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rotation" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRotationForAllResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </types>
  <message name="RetrieveByProductionArtifactIDForProductionSoapIn">
    <part name="parameters" element="s0:RetrieveByProductionArtifactIDForProduction" />
  </message>
  <message name="RetrieveByProductionArtifactIDForProductionSoapOut">
    <part name="parameters" element="s0:RetrieveByProductionArtifactIDForProductionResponse" />
  </message>
  <message name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapIn">
    <part name="parameters" element="s0:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID" />
  </message>
  <message name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapOut">
    <part name="parameters" element="s0:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDResponse" />
  </message>
  <message name="ReturnFileGuidsForOriginalImagesSoapIn">
    <part name="parameters" element="s0:ReturnFileGuidsForOriginalImages" />
  </message>
  <message name="ReturnFileGuidsForOriginalImagesSoapOut">
    <part name="parameters" element="s0:ReturnFileGuidsForOriginalImagesResponse" />
  </message>
  <message name="CreateSoapIn">
    <part name="parameters" element="s0:Create" />
  </message>
  <message name="CreateSoapOut">
    <part name="parameters" element="s0:CreateResponse" />
  </message>
  <message name="CreateImagesSoapIn">
    <part name="parameters" element="s0:CreateImages" />
  </message>
  <message name="CreateImagesSoapOut">
    <part name="parameters" element="s0:CreateImagesResponse" />
  </message>
  <message name="CreateProductionImagesSoapIn">
    <part name="parameters" element="s0:CreateProductionImages" />
  </message>
  <message name="CreateProductionImagesSoapOut">
    <part name="parameters" element="s0:CreateProductionImagesResponse" />
  </message>
  <message name="CreateNativesSoapIn">
    <part name="parameters" element="s0:CreateNatives" />
  </message>
  <message name="CreateNativesSoapOut">
    <part name="parameters" element="s0:CreateNativesResponse" />
  </message>
  <message name="GetRotationSoapIn">
    <part name="parameters" element="s0:GetRotation" />
  </message>
  <message name="GetRotationSoapOut">
    <part name="parameters" element="s0:GetRotationResponse" />
  </message>
  <message name="SetRotationSoapIn">
    <part name="parameters" element="s0:SetRotation" />
  </message>
  <message name="SetRotationSoapOut">
    <part name="parameters" element="s0:SetRotationResponse" />
  </message>
  <message name="GetFullTextGuidsByDocumentArtifactIdAndTypeSoapIn">
    <part name="parameters" element="s0:GetFullTextGuidsByDocumentArtifactIdAndType" />
  </message>
  <message name="GetFullTextGuidsByDocumentArtifactIdAndTypeSoapOut">
    <part name="parameters" element="s0:GetFullTextGuidsByDocumentArtifactIdAndTypeResponse" />
  </message>
  <message name="RetrieveNativesFileSizeSoapIn">
    <part name="parameters" element="s0:RetrieveNativesFileSize" />
  </message>
  <message name="RetrieveNativesFileSizeSoapOut">
    <part name="parameters" element="s0:RetrieveNativesFileSizeResponse" />
  </message>
  <message name="GetFileByGuidSoapIn">
    <part name="parameters" element="s0:GetFileByGuid" />
  </message>
  <message name="GetFileByGuidSoapOut">
    <part name="parameters" element="s0:GetFileByGuidResponse" />
  </message>
  <message name="GetTotalImageCountByArtifactIDsSoapIn">
    <part name="parameters" element="s0:GetTotalImageCountByArtifactIDs" />
  </message>
  <message name="GetTotalImageCountByArtifactIDsSoapOut">
    <part name="parameters" element="s0:GetTotalImageCountByArtifactIDsResponse" />
  </message>
  <message name="SetRotationForAllSoapIn">
    <part name="parameters" element="s0:SetRotationForAll" />
  </message>
  <message name="SetRotationForAllSoapOut">
    <part name="parameters" element="s0:SetRotationForAllResponse" />
  </message>
  <portType name="FileManagerSoap">
    <operation name="RetrieveByProductionArtifactIDForProduction">
      <input message="s0:RetrieveByProductionArtifactIDForProductionSoapIn" />
      <output message="s0:RetrieveByProductionArtifactIDForProductionSoapOut" />
    </operation>
    <operation name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID">
      <input message="s0:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapIn" />
      <output message="s0:RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactIDSoapOut" />
    </operation>
    <operation name="ReturnFileGuidsForOriginalImages">
      <input message="s0:ReturnFileGuidsForOriginalImagesSoapIn" />
      <output message="s0:ReturnFileGuidsForOriginalImagesSoapOut" />
    </operation>
    <operation name="Create">
      <input message="s0:CreateSoapIn" />
      <output message="s0:CreateSoapOut" />
    </operation>
    <operation name="CreateImages">
      <input message="s0:CreateImagesSoapIn" />
      <output message="s0:CreateImagesSoapOut" />
    </operation>
    <operation name="CreateProductionImages">
      <input message="s0:CreateProductionImagesSoapIn" />
      <output message="s0:CreateProductionImagesSoapOut" />
    </operation>
    <operation name="CreateNatives">
      <input message="s0:CreateNativesSoapIn" />
      <output message="s0:CreateNativesSoapOut" />
    </operation>
    <operation name="GetRotation">
      <input message="s0:GetRotationSoapIn" />
      <output message="s0:GetRotationSoapOut" />
    </operation>
    <operation name="SetRotation">
      <input message="s0:SetRotationSoapIn" />
      <output message="s0:SetRotationSoapOut" />
    </operation>
    <operation name="GetFullTextGuidsByDocumentArtifactIdAndType">
      <input message="s0:GetFullTextGuidsByDocumentArtifactIdAndTypeSoapIn" />
      <output message="s0:GetFullTextGuidsByDocumentArtifactIdAndTypeSoapOut" />
    </operation>
    <operation name="RetrieveNativesFileSize">
      <input message="s0:RetrieveNativesFileSizeSoapIn" />
      <output message="s0:RetrieveNativesFileSizeSoapOut" />
    </operation>
    <operation name="GetFileByGuid">
      <input message="s0:GetFileByGuidSoapIn" />
      <output message="s0:GetFileByGuidSoapOut" />
    </operation>
    <operation name="GetTotalImageCountByArtifactIDs">
      <input message="s0:GetTotalImageCountByArtifactIDsSoapIn" />
      <output message="s0:GetTotalImageCountByArtifactIDsSoapOut" />
    </operation>
    <operation name="SetRotationForAll">
      <input message="s0:SetRotationForAllSoapIn" />
      <output message="s0:SetRotationForAllSoapOut" />
    </operation>
  </portType>
  <binding name="FileManagerSoap" type="s0:FileManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RetrieveByProductionArtifactIDForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/RetrieveByProductionArtifactIDForProduction" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/RetrieveFileGuidsByDocumentArtifactIDAndProductionArtifactID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnFileGuidsForOriginalImages">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/ReturnFileGuidsForOriginalImages" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Create">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/Create" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateImages">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/CreateImages" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateProductionImages">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/CreateProductionImages" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateNatives">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/CreateNatives" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRotation">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/GetRotation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetRotation">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/SetRotation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFullTextGuidsByDocumentArtifactIdAndType">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/GetFullTextGuidsByDocumentArtifactIdAndType" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RetrieveNativesFileSize">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/RetrieveNativesFileSize" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFileByGuid">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/GetFileByGuid" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTotalImageCountByArtifactIDs">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/GetTotalImageCountByArtifactIDs" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetRotationForAll">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FileManager/SetRotationForAll" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FileManager">
    <port name="FileManagerSoap" binding="s0:FileManagerSoap">
      <soap:address location="http://localhost/EDDSWebAPI/FileManager.asmx" />
    </port>
  </service>
</definitions>